<BODY BGCOLOR="B0D8FF">

  <div align="center">
    <table>
      <tbody>
        <tr>
          <td valign="bottom" width="15"><img height="15" alt="TEL=$TELEFONO&EV=$EVENTO" src="images/rd.jpg" width="15" border="0" /></td>
          <td valign="bottom" width="65"><font color="#ff0000" size="3">$AB_CODI</font></td>
          <td valign="bottom" width="70"><font size="2">$ORA</font></td>
          <td valign="bottom" width="60"><font size="3">$USER</font></td>
          <td valign="bottom" width="15">


<img height="15" alt="FILENAME=$FILENAME" src="images/reg.jpg" width="15" border="0" align="top" class="podPress_imgicon"></td>

        </tr>
      </tbody>
    </table>
  </div>