<div align="center">
	<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" width="600" id="AutoNumber1">
    <tr>
      <td width="62">
                    <font color="#4682B4"
                    face="Arial" size="2"><strong>Codice:</strong></font></td>
      <td>
                    <font face="Arial" color="#FF0000" size="5">
                    <b>$AB_CODI</b></font></td>
      <td><b><font face="Arial" size="2" color="#4682B4">Centrale:</font></b></td>
      <td>
                    <font face="Arial" color="#4682B4" size="1">
                    <b>
                    <input
                    type="text" size="15" value="$CENTRALE" name="CENTRALE"></b></font></td>
      <td width="40">
                    <font size="2"
                    face="Arial" color="#0066CC"><strong>Tel.:</strong></font></td>
      <td width="82" colspan="2">
                    <font color="#4682B4" face="Arial" size="1"><b>
                    <input type="text" size="15" value="$TELEFONO" name="TELEFONO"></b></font></td>
      <td width="48">&nbsp;</td>
    </tr>
    <tr>
      <td width="62">
                    <font color="#4682B4" size="2" face="Arial"><strong>Matricola:</strong></font></td>
      <td>
                    <font color="#4682B4" face="Arial" size="1"><b>
                    <input type="text" size="16" value="$MATRICOLA" name="MATRICOLA"></b></font></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td width="40">
                    <font size="2"
                    face="Arial" color="#4682B4"><strong>Cell.:</strong></font></td>
      <td width="82" colspan="2">
                    <font color="#4682B4" face="Arial" size="1"><b>
                    <input type="text" size="15" value="$CELLULARE"
                    name="CELLULARE"></b></font></td>
      <td width="48">&nbsp;</td>
    </tr>
    <tr>
      <td width="62">
                    <font size="2"
                    face="Arial" color="#4682B4"><strong>Nominativo:</strong></font></td>
      <td colspan="3">
                    <font color="#4682B4" face="Arial" size="1"><b>
                    <input type="text" size="40" value="$NOMINATIVO"
                    name="NOMINATIVO"></b></font></td>
      <td width="40">
                    <font size="2"
                    face="Arial" color="#4682B4"><strong>Sesso:</strong></font></td>
      <td width="36"><font face="Arial" color="#4682B4" size="1">
                    <b>
                    <input
                    type="text" size="2" value="$SESSO" name="SESSO"></b></font></td>
      <td width="46"><font size="2"
                    face="Arial" color="#4682B4"><strong>Ente:</strong></font></td>
      <td width="48"><font face="Arial" color="#4682B4" size="1">
                    <b>
                    <input
                    type="text" size="2" value="$ENTE" name="ENTE"></b></font></td>
    </tr>
    <tr>
      <td width="62">&nbsp;</td>
      <td colspan="3">&nbsp;</td>
      <td width="40">&nbsp;</td>
      <td width="36">&nbsp;</td>
      <td width="46">&nbsp;</td>
      <td width="48"></td>
    </tr>
    <tr>
      <td width="62">&nbsp;</td>
      <td colspan="3">&nbsp;</td>
      <td width="40">&nbsp;</td>
      <td width="36">&nbsp;</td>
      <td width="46">&nbsp;</td>
      <td width="48">&nbsp;</td>
    </tr>
	</div>