<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Nuova pagina 1</title>
</head>

<BODY BGCOLOR="FFFFCC">
<br>
<form action="analisi_ins_db.php?AB_CODI=$AB_CODI" method="post">
<div align="center">
	<table border="0" width="629">
		<tr>
			<td colspan="7"><p align="center"><b><font size="4" color="#4682B4">INSERIMENTO </font></b>
			<font size="4" color="#4682B4"><b>LABORATORIO ANALISI</b></font><p align="center"></td>
		</tr>
		<tr>
			<td bgcolor="#4682B4" width="109"><font color="#FFFFFF"><strong>
			<font face="Times New Roman,Times" size="2">Numero:</font></strong></td>
			<td width="253"><font face="Times New Roman,Times">
			<input
            type="text" size="2" name="NUMERO"></font></td>
			<td bgcolor="#4682B4" width="61"><strong>
			<font face="Times New Roman,Times" size="2" color="#FFFFFF">Telefono</font></strong></td>
			<td colspan="3"><font face="Times New Roman,Times">
			<input
            type="text" size="15" name="TEL_1"></font></td>
			<td width="53">
			<input type="submit" name="SAVE" value="Salva" style="background-color: #FF3300"></td>
		</tr>
		<tr>
			<td bgcolor="#4682B4" width="109"><font color="#FFFFFF"><strong>
			<font face="Times New Roman,Times" size="2">Nominativo</font></strong></font></td>
			<td width="253"><font face="Times New Roman,Times">
			<input
            type="text" size="30" name="NOMINATIVO"></font></td>
			<td bgcolor="#4682B4" width="61"><strong>
			<font face="Times New Roman,Times" size="2" color="#FFFFFF">Telefono</font></strong></td>
			<td colspan="3"><font face="Times New Roman,Times">
			<input
            type="text" size="15" name="TEL_2"></font></td>
		</tr>
		<tr>
			<td bgcolor="#4682B4" width="109"><strong>
			<font face="Times New Roman,Times" size="2" color="#FFFFFF">
			Referente</font></strong></td>
			<td width="253"><font face="Times New Roman,Times">
			<input
            type="text" size="30" name="REFERENTE"></font></td>
			<td bgcolor="#4682B4" width="61"><font color="#FFFFFF"><strong>
			<font face="Times New Roman,Times" size="2">Cellulare</font></strong></td>
			<td colspan="3"><font face="Times New Roman,Times">
			<input
            type="text" size="15" name="CELLULARE"></font></td>
		</tr>
		<tr>
			<td bgcolor="#4682B4" width="109"><font color="#FFFFFF"><strong>
			<font face="Times New Roman,Times" size="2">Indirizzo</font></strong></td>
			<td width="253"><font face="Times New Roman,Times">
			<input
            type="text" size="30" name="INDIRIZZO"></font></td>
			<td bgcolor="#4682B4" width="61"><strong>
			<font face="Times New Roman,Times" size="2" color="#FFFFFF">Fax</font></strong></td>
			<td colspan="3"><font face="Times New Roman,Times">
			<input
            type="text" size="15" name="FAX"></font></td>
		</tr>
		<tr>
			<td bgcolor="#4682B4" width="109"><font color="#FFFFFF"><strong>
			<font face="Times New Roman,Times" size="2">Comune</font></strong></td>
			<td width="253"><font face="Times New Roman,Times">
			<input
            type="text" size="30" name="COMUNE"></font></td>
			<td bgcolor="#4682B4" width="61"><strong>
			<font face="Times New Roman,Times" size="2" color="#FFFFFF">Prov</font></strong></td>
			<td width="22"><font face="Times New Roman,Times">
			<input
            type="text" size="2" name="PROV"></font></td>
			<td width="54" bgcolor="#4682B4"><strong>
			<font face="Times New Roman,Times" size="2" color="#FFFFFF">Cap</font></strong></td>
			<td width="47"><font face="Times New Roman,Times">
			<input
            type="text" size="5" name="CAP"></font></td>
		</tr>
		<tr>
			<td bgcolor="#4682B4" width="109"><font color="#FFFFFF"><strong>
			<font face="Times New Roman,Times" size="2">Orario Ambulatorio</font></strong></font></td>
			<td colspan="5"><textarea rows="3" name="ORARIO" cols="54"></textarea></td>
		</tr>
		<tr>
			<td bgcolor="#4682B4" width="109"><strong>
			<font face="Times New Roman,Times" size="2" color="#FFFFFF">Note</font></strong></td>
			<td colspan="5"><textarea rows="3" name="NOTE" cols="54"></textarea></td>
		</tr>
	</table></div>
</form>
<p align="center"><br>

</body>

</html>