<br>
<div align="center">
	<table border="0" width="629">
		<tr>
<td><p align="center"><font size="4" color="#4682B4"><b>
Se vuoi inserire un nuovo laboratorio di Analisi </b></font></td>
		</tr>
		<tr>
<td><p align="center"><font size="4" color="#4682B4"><b>
Clicca</b></font></td>
		</tr>
		<tr>
<td><p align="center"><font size="4" color="#4682B4"><b>
<a href="analisi_ins.php?AB_CODI=$AB_CODI" target="out">INSERIMENTO</a></b></font></td>
		</tr>
</table></div>
<br>
<br>
<p align="center"><font size="4" color="#4682B4"><b>MODIFICA LABORATORIO ANALISI</font></b>
<br>