<form action="convivente_mod_db.php?AB_CODI=$AB_CODI&ID=$ID" method="POST">
<table width="729">
    <tr>
      <td width="729" colspan="8">
		<p align="center"><font face="Arial" size="4" color="#4682B4">CONVIVENTE</font></td>
    </tr>
    <tr>
      <td width="67"><font size="2" face="Arial" color="#4682B4">
      <strong>Cointestatario:</strong></font></td>
      <td width="78"><font face="Arial" color="#4682B4" size="1">
      <b><input type="text" value="$COINTESTATARIO" size="2" name="COINTESTATARIO"></b></font></td>
      <td width="72"><font size="2" face="Arial" color="#4682B4">
      <strong>Parentela:</strong></font></td>
      <td width="192"><font face="Arial" color="#4682B4" size="1">
      <b><input type="text" value="$PARENTELA" size="20" name="PARENTELA"></b></font></td>
      <td width="85"></td>
      <td width="31"></td>
      <td width="85"></td>
      <td width="64"><input type="submit" value="SALVA" name="SALVA" style="background-color: #FF0000"></td>
    </tr> 
    <tr>
      <td width="67"><font size="2" face="Arial" color="#4682B4">
      <strong>Nominativo</strong><b>:</b></font></td>
      <td width="353" colspan="3"><font face="Arial" color="#4682B4" size="1">
      <b><input type="text" value="$NOME" size="48" name="NOME"></b></font></td>
      <td width="85">&nbsp;</td>
      <td width="31"></td>
      <td width="85">&nbsp;</td>
      <td width="64">&nbsp;</td>
    </tr>
    <tr>
      <td width="67"><b><font face="Arial" size="2" color="#4682B4">Cellulare:</font></b></td>
      <td width="353" colspan="3"><font face="Arial" color="#4682B4" size="1">
      <b><input type="text" value="$CELLULARE" size="15" name="CELLULARE"></b></font></td>
      <td width="85">&nbsp;</td>
      <td width="31"></td>
      <td width="85"><font size="2" face="Arial" color="#4682B4">
      <strong>Sesso:</strong></font></td>
      <td width="64"><font face="Arial" color="#4682B4" size="1">
      <b><input type="text" value="$SESSO" size="2" name="SESSO"></b></font></td>
    </tr>
    <tr>
      <td width="67"><b><font face="Arial" size="2" color="#4682B4">D.nascita:</font></b></td>
      <td width="78"><font face="Arial" color="#4682B4" size="1">
      <b><input type="text" value="$DATA_NASCITA" size="10" name="DATA_NASCITA"></b></font></td>
      <td width="72"><b><font size="2" color="#4682B4" face="Arial">L. nascita:</font></b></td>
      <td width="192"><font face="Arial" color="#4682B4" size="1">
      <b><input type="text" value="$LUOGO_NASCITA" size="25" name="LUOGO_NASCITA"></b></font></td>
      <td width="85"><b><font face="Arial" size="2" color="#4682B4">Peso:</font></b></td>
      <td width="31"><font face="Arial" color="#4682B4" size="1">
      <b><input type="text" value="$PESO" size="3" name="PESO"></b></font></td>
      <td width="85"><b><font size="2" color="#4682B4" face="Arial">Altezza:</font></b></td>
      <td width="64"><font face="Arial" color="#4682B4" size="1">
      <b><input type="text" value="$ALTEZZA" size="3" name="ALTEZZA"></b></font></td>
    </tr>
    <tr>
      <td width="67"><b><font face="Arial" size="2" color="#4682B4">Evidenzia:</font></b></td>
      <td width="617" colspan="6"><font face="Arial" color="#4682B4" size="1">
      <b><textarea name="EVIDENZIA" rows="2" cols="60">$EVIDENZIA</textarea></b></font></td>
    </tr>
    <tr>
      <td width="67"><b><font face="Arial" size="2" color="#4682B4">Note:</font></b></td>
      <td width="617" colspan="6"><font face="Arial" color="#4682B4" size="1">
      <b>
      <textarea name="NOTE" rows="5" cols="60">$NOTE</textarea></b></font></td>
    </tr>
    <tr>
      <td width="67"><b><font face="Arial" size="2" color="#4682B4">Patologia:</font></b></td>
      <td width="617" colspan="6"><font face="Arial" color="#4682B4" size="1">
      <b>
      <textarea
      name="PATOLOGIA" rows="4" cols="60">$PATOLOGIA</textarea></b></font></td>
    </tr>
    <tr>
      <td width="67"><b><font face="Arial" size="2" color="#4682B4">Terapia:</font></b></td>
      <td width="617" colspan="6"><font face="Arial" color="#4682B4" size="1">
      <b>
      <textarea
      name="TERAPIA" rows="4" cols="60">$TERAPIA</textarea></b></font></td>
    </tr>
</table>
</form>

    </center>
