<br>
    <div align="center">
    <center>
   <table border="0" cellspacing="1">
    <tr>
     <td align="center" rowspan="2">
<script language="javascript" type="text/javascript">
<!--
couleur = new Array ("#FF0000", "#0000FF", "#FF0000", "#0000FF", "#FF0000", "#0000FF");
var a=0;
function change_coul()
{
Titre=document.getElementById("titre");
Titre.style.color=couleur[a];
a++;
if(a>5) a=0;
}
function interval_coul()
{
interval=setInterval("change_coul()",600);
}
//-->
</script>

</head>
<body onload="interval_coul()" onUnload="window.clearInterval(interval)" >

<div align="center">


<h1 id="titre">DISINSTALLATO</h1>


</div>
</td>
</tr>
</table></center></div>
    <BR>

     <BR>