<html>
<head>
<title></title>
</head>
<BODY BGCOLOR="FFFFCC">
<P><center>
</P>
<br>

<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" width="550" id="AutoNumber1">
  <tr>
    <td width="100%">
<FORM action="genera_allallarme.php?AZIONE=GENERA" method="POST" name=form1>
<P align="center"><FONT color=crimson face="" size="6"><STRONG>!!! Attenzione !!!</STRONG></FONT></P>
<P align="center"><FONT color=crimson face="" size="3">Stai generando un allarme nella CODA degli allarmi in arrivo</FONT> 
</P>
<p align="center">
<input type="submit" name="GENERA" value="Genera" style="border-style: ridge; border-width: 1; background-color: #FFFF00"></p>

<P>
</P>
</FORM></td>
  </tr>
</table>

   </center>
</BODY></HTML>