<html>

<head>
<BODY BGCOLOR="B0D8FF">
<title>Scheda Utente</title>
</head>
  <div align="center">
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse">
  <tr>
    <td>
      <form action="enti.php" method="POST">
      <input type="submit" value="VISUALIZZA" name="VISUALIZZA" style="background-color: #FF0000; font-size:10 px"></p>
      </form>    
    </td>
    <td>
      <form action="ente_mod.php" method="POST">
      <input type="submit" value="MODIFICA" name="MODIFICA" style="background-color: #FF0000; font-size:10 px"></p>
      </form>    
    </td>
    <td>
      <form action="ente_ins.html" method="POST">
      <input type="submit" value="INSERIMENTO" name="INSERIMENTO" style="background-color: #FF0000; font-size:10 px"></p>
      </form>
    </td>
    <td>
      <form action="ricerca_ente.html" method="POST">
      <input type="submit" value="RICERCA" name="RICERCA" style="background-color: #FF0000; font-size:10 px"></p>
      </form>
    </td>
  </tr>
</table>
  </div>

  <div align="center">
    <center>
<br><centre>
  <div align="center">
    <table width="60%">


          <tr>      
            <td colspan="5" align="left">
              <p align="center"><strong><u><font face="Arial" color="#4682b4" size="4">MODIFICA ENTE</font></u></strong><br></p>
            </td>
          </tr>
          <tr>
            <td colspan="5" align="left">
              &nbsp;</td>
          </tr>
          <tr>
            <td colspan="5" align="left">
          </tr>