<html>

<head>
<meta http-equiv="Content-Language" content="it">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Nuova pagina 1</title>
</head>
<BODY BGCOLOR="B0D8FF">
<body scroll=yes>

<div align="center">
	<table border="1" width="90%" id="table1" bgcolor="#CCFF66">
		<tr>
			<td align="center"><b>CODICE</b></td>
			<td align="center"><b>NOMINATIVO</b></td>
			<td align="center"><b>COMUNE</b></td>
			<td align="center"><b>ENTE</b></td>
			<td align="center"><b>DATA INSTALLAZIONE</b></td>
			<td align="center"><b>DATA DISINSTALLAZIONE</b></td>
		</tr>