<html>

<head>
<meta http-equiv="Content-Language" content="it">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Nuova pagina 1</title>
</head>

<BODY BGCOLOR="B0D8FF">

<div align="center">
	<table border="1" width="90%" id="table1" bgcolor="#CCFF66">
		<tr>
			<td align="center"><b>CODICE</b></td>
			<td align="center"><b>NOMINATIVO</b></td>
			<td align="center"><b>MATRICOLA</b></td>
			<td align="center"><b>INDIRIZZO</b></td>
			<td align="center"><b>COMUNE</b></td>
			<td align="center"><b>TELEFONO</b></td>
			<td align="center"><b>ENTE</b></td>
			<td align="center"><b>DATI_TECNICI</b></td>
                        <td align="center"><b>DATA_INSTALLAZIONE</b></td>
                        <td align="center"><b>DATA_DISINSTALLAZIONE</b></td>
		</tr>