<div align="center">
<table border="0" width="50%" id="table1">
<TR>
<td align="center" bgcolor="#000000"><u>
<font face="Arial" size="2" color="#FFFFFF">GIORNO</font></u></td>
<td align="center" bgcolor="#000000"><u>
<font face="Arial" size="2" color="#FFFFFF">FOGLIO</font></u></td>
<td align="center" bgcolor="#000000"><u>
<font face="Arial" size="2" color="#FFFFFF">FASCIA</font></u></td>
<td align="center" bgcolor="#000000"><u>
<font face="Arial" size="2" color="#FFFFFF">NOTE</font></u></td>
<td align="center" bgcolor="#000000"><u>
<font face="Arial" size="2" color="#FFFFFF">RECALL</font></u></td>
</TR>

<TR>
<td align="center">&nbsp;</td>
<td align="center">&nbsp;</td>
<td align="center">&nbsp;</td>
<td align="center">&nbsp;</td>
<td align="center">&nbsp;</td>
</TR>

<TR>
<td align="center" height="43"><input type="text" size="7" name="ind1" value="$GIORNO"></td>
<td align="center" height="43"><input type="text" size="1" name="ind2" value="$FOGLIO"></td>
<td align="center" height="43"><input type="text" size="7" name="ind3" value="$FASCIA"></td>
<td align="center" height="43"><input type="text" size="30" name="ind4" value="$NOTE"></td>
<td align="center" height="43"><input type="text" size="1" name="ind5" value="$RICHIAMARE"></td>
</TR>

<TR>
<td align="center">&nbsp;</td>
<td align="center">&nbsp;</td>
<td align="center">&nbsp;</td>
<td align="center">&nbsp;</td>
<td align="center">&nbsp;</td>
</TR>
	</table>
</div>




