<table width="80%">
  <form action="prove_mod_db.php?ID=$ID&AB_CODI=$AB_CODI" method="post">
  <tr>
    <td width="14%" align="center"><input size="6" value="$GIORNO" name="GIORNO" /></td /> 
    <td width="11%" align="center"><input size="2" value="$FOGLIO" name="FOGLIO" /></td /> 
    <td width="16%" align="center"><input size="7" value="$FASCIA" name="FASCIA" /></td /> 
    <td width="26%" align="center"><input size="15" value="$NOTE" name="NOTE" /></td /> 
    <td width="14%" align="center"><input size="1" value="$RICHIAMARE" name="RICHIAMARE" /></td /> 
    <td width="15%" align="center"><input type="submit" value="SALVA" name="SALVA" style="border-right: 1px outset; padding-right: 3px; border-top: 1px outset; padding-left: 3px; padding-bottom: 0px; border-left: 1px outset; padding-top: 0px; border-bottom: 1px outset; background-color: #ff0000"></form></td>
  </tr>
    <tr>
    <td></td /> 
    <td></td /> 
    <td></td /> 
    <td></td /> 
    <td></td /> 
    <td><form action="prove_del_db.php?ID=$ID&AB_CODI=$AB_CODI" method="post"><input type="submit" value="ELIMINA" name="ELIMINA" style="border-right: 1px outset; padding-right: 3px; border-top: 1px outset; padding-left: 3px; padding-bottom: 0px; border-left: 1px outset; color: #ffffff; padding-top: 0px; border-bottom: 1px outset; background-color: #808080"></form></td>
  </tr>
  </table>