<tr>
			<td bgcolor="#CCFFCC"><a href="scheda.php?AB_CODI=$AB_CODI&SEARCH_CODE=cerca" target="anagrafica">$AB_CODI</a></td>
			<td bgcolor="#CCFFCC">$NOMINATIVO</td>
			<td bgcolor="#CCFFCC">$MATRICOLA</td>
			<td bgcolor="#CCFFCC">$INDIRIZZO</td>
			<td bgcolor="#CCFFCC">$COMUNE</td>
			<td bgcolor="#CCFFCC">$TELEFONO</td>
			<td bgcolor="#CCFFCC">$ENTE</td>
			<td bgcolor="#CCFFCC">$DATI_TECNICI</td>
                        <td bgcolor="#CCFFCC">$DATA_INSTALLAZIONE</td>
                        <td bgcolor="#CCFFCC">$DATA_DISINSTALLAZIONE</td>
		</tr>