    <div align="center"><center><table border="0">
        <tr>
            <td align="center" bgcolor="#4682B4"><font color="#FFFFFF"><strong>
            <font face="Times New Roman,Times" size="2">N.</font></strong><font size="2" face="Times New Roman,Times"><strong> 
            int</strong></font>.</font></td>
            <td align="center" bgcolor="#4682B4">
            <font face="Times New Roman,Times" color="#FFFFFF"><strong>Soccorritori amici:</strong></font></td>
            <td align="center" bgcolor="#4682B4">&nbsp;</td>
            <td align="center" bgcolor="#4682B4">&nbsp;</td>
            <td align="center" bgcolor="#4682B4">
            <font face="Times New Roman,Times" color="#FFFFFF"><strong>Tempo</strong></font></td>
            <td align="center" bgcolor="#4682B4">
            <font face="Times New Roman,Times" color="#FFFFFF"><strong>Ch</strong></font></td>
            <td align="center" bgcolor="#4682B4">
            <font face="Times New Roman,Times" color="#FFFFFF"><strong>Coinq.</strong></font></td>
            <td align="center" bgcolor="#4682B4">
            <font face="Times New Roman,Times" color="#FFFFFF"><strong>Parente</strong></font></td>
        </tr>
        <tr>
            <td rowspan="3" align="center"><p align="center"><font face="Times New Roman,Times">
            <input type="text" size="1" name="numero" value="$NUMERO"></font></p></td>
            <td align="center" rowspan="3" width="100"><font face="Times New Roman,Times">
            <input type="text" size="30" name="NOME_SOCC" value="$NOME"></font></td>
            <td align="center" width="70"><strong>casa:</strong></td>
            <td align="center" width="100"><p align="left"><font face="Times New Roman,Times">
            <input type="text" size="10" name="TEL_CASA" value="$TEL_CASA"></font></p></td>
            <td align="center" width="50"><p align="left"><font face="Times New Roman,Times">
            <input type="text" size="2" name="TEMPO_CASA" value="$TEMPO_CASA"></font> </p></td>
            <td align="center" valign="top" rowspan="3" width="35"><font face="Times New Roman,Times">
            <input type="text" size="1" name="CHIAVI" value="$CHIAVI"></font></td>
            <td align="center" valign="top" rowspan="3" width="35"><font face="Times New Roman,Times">
            <input type="text" size="1" name="COINQUILINO" value="$COINQUILINO"></font></td>
            <td align="center" valign="top" rowspan="3" width="60"><font face="Times New Roman,Times">
            <input type="text" size="10" name="PARENTE" value="$PARENTE"></font><p align="center">&nbsp;</p></td>
        </tr>
        <tr>
            <td align="center" width="70"><strong>ufficio:</strong></td>
            <td align="center" width="100"><p align="left"><font face="Times New Roman,Times">
            <input type="text" size="10" name="TEL_UFF" value="$TEL_UFF"></font></p></td>
            <td align="center" width="50"><p align="left"><font face="Times New Roman,Times">
            <input type="text" size="2" name="TEMPO_UFF" value="$TEMPO_UFF"></font></p></td>
        </tr>
        <tr>
            <td align="center" width="70"><strong>Cellulare:</strong></td>
            <td align="center" width="100"><p align="left"><font face="Times New Roman,Times">
            <input type="text" size="10" name="TEL_CELL" value="$TEL_CELL"></font></p></td>
            <td align="center" width="50">&nbsp;</td>
        </tr>
    </table>
    </center></div>