  <div align="center">
	<table width="60%">
  <form action="socc_pubb_mod_db.php?ID=$ID&amp;AB_CODI=$AB_CODI" method="post">
    <tr />
    <td width="20%" /><input size="2" value="$NUMERO" name="NUMERO" /></td />
    <td width="20%" /><input size="25" value="$TIPO" name="TIPO" /></td />
    <td width="20%" /><input size="13" value="$TEL_1" name="TEL_1" /></td />
    <td width="20%" /><input size="13" value="$TEL_2" name="TEL_2" /></td />
    <td width="20%" /><input size="13" value="$CELLULARE" name="CELLULARE" /></td />
    <td width="20%" /><input type="submit" value="SALVA" name="SALVA" style="background-color: #ff0000" /></td />
   </tr />
  </form>
      <tr />
    <td width="20%" /></td />
    <td width="20%" /></td />
    <td width="20%" /></td />
    <td width="20%" /></td />
    <td width="20%" /></td />
    <td width="20%" /><form action="socc_pubb_del_db.php?ID=$ID&AB_CODI=$AB_CODI" method="post"><input type="submit" value="ELIMINA" name="ELIMINA" style="border-right: 1px outset; padding-right: 3px; border-top: 1px outset; padding-left: 3px; padding-bottom: 0px; border-left: 1px outset; color: #ffffff; padding-top: 0px; border-bottom: 1px outset; background-color: #808080"></form></td />
   </tr />
  </table>
  
  </div>

  
  