
  <form action="socc_amici_mod_db.php?ID=$ID&amp;AB_CODI=$AB_CODI" method="post">
    <div align="center"><center>
        <table border="0">
          <tbody>
            <tr>
              <td align="center" bgcolor="#4682b4"><font color="#ffffff"><strong><font face="Times New Roman,Times" size="2">N.</font></strong><font face="Times New Roman,Times" size="2"><strong> int</strong></font>.</font></td>
              <td align="center" bgcolor="#4682b4"><font face="Times New Roman,Times" color="#ffffff"><strong>Soccorritori amici:</strong></font></td>
              <td align="center" bgcolor="#4682b4">&nbsp;</td>
              <td align="center" bgcolor="#4682b4">&nbsp;</td>
              <td align="center" bgcolor="#4682b4"><font face="Times New Roman,Times" color="#ffffff"><strong>Tempo</strong></font></td>
              <td align="center" bgcolor="#4682b4"><font face="Times New Roman,Times" color="#ffffff"><strong>Ch</strong></font></td>
              <td align="center" bgcolor="#4682b4"><font face="Times New Roman,Times" color="#ffffff"><strong>Coinq.</strong></font></td>
              <td align="center" bgcolor="#4682b4"><font face="Times New Roman,Times" color="#ffffff"><strong>Parente</strong></font></td>
            </tr>
            <tr>
              <td align="center">&nbsp;</td>
              <td align="center" width="100">&nbsp;</td>
              <td align="center" width="70"><strong>casa:</strong></td>
              <td align="center" width="100"><font face="Times New Roman,Times"><input size="10" value="$TEL_CASA" name="TEL_CASA" /></font></td>
              <td align="center" width="50"><font face="Times New Roman,Times"><input size="1" value="$TEMPO_CASA" name="TEMPO_CASA" /></font></td>
              <td valign="top" align="center" width="35"><font face="Times New Roman,Times"><input size="1" value="$CHIAVI" name="CHIAVI" /></font></td>
              <td valign="top" align="center" width="35"><font face="Times New Roman,Times"><input size="1" value="$COINQUILINO" name="COINQUILINO" /></font></td>
              <td valign="top" align="center" width="60"><font face="Times New Roman,Times"><input size="10" value="$PARENTE" name="PARENTE" /></font></td>
            </tr>
            <tr>
              <td align="center"><font face="Times New Roman,Times">
				<input size="1" value="$NUMERO" name="NUMERO" /></font></td>
              <td align="center" width="100"><font face="Times New Roman,Times"><input size="30" value="$NOMINATIVO" name="NOMINATIVO" /></font></td>
              <td align="center" width="70"><strong>ufficio:</strong></td>
              <td align="center" width="100"><font face="Times New Roman,Times"><input size="10" value="$TEL_UFF" name="TEL_UFF" /></font></td>
              <td align="center" width="50"><font face="Times New Roman,Times"><input size="1" value="$TEMPO_UFF" name="TEMPO_UFF" /></font></td>
              <td valign="top" align="center" width="35">&nbsp;</td>
              <td valign="top" align="center" width="35">&nbsp;</td>
              <td valign="top" align="center" width="60">&nbsp;</td>
            </tr>
            <tr>
              <td align="center">&nbsp;</td>
              <td align="center" width="100">&nbsp;</td>
              <td align="center" width="70"><strong>Cellulare:</strong></td>
              <td align="center" width="100"><font face="Times New Roman,Times"><input size="10" value="$TEL_CELL" name="TEL_CELL" /></font></td>
              <td align="center" width="50">&nbsp;</td>
              <td valign="top" align="center" width="35">&nbsp;</td>
              <td valign="top" align="center" width="35">&nbsp;</td>
              <td valign="top" align="center" width="60"><input type="submit" value="SALVA" name="SALVA" style="background-color: #ff0000" /></form></td>
            </tr>
            <tr>
              <td align="center">&nbsp;</td>
              <td align="center" width="100">&nbsp;</td>
              <td align="center" width="70">&nbsp;</td>
              <td align="center" width="100">&nbsp;</td>
              <td align="center" width="50">&nbsp;</td>
              <td valign="top" align="center" width="35">&nbsp;</td>
              <td valign="top" align="center" width="35">&nbsp;</td>
              <td valign="top" align="center" width="60"><form action="socc_amici_del_db.php?ID=$ID&AB_CODI=$AB_CODI" method="post"><input type="submit" value="ELIMINA" name="ELIMINA" style="border-right: 1px outset; padding-right: 3px; border-top: 1px outset; padding-left: 3px; padding-bottom: 0px; border-left: 1px outset; color: #ffffff; padding-top: 0px; border-bottom: 1px outset; background-color: #808080"></form></td>
            </tr>
          </tbody>
        </table></center></div>
  