<BODY BGCOLOR="B0D8FF">

  <div align="center">
    <table>
      <tbody>
        <tr>
          <td valign="bottom" width="15"><img height="15" alt="TEL=$TELEFONO&MATRICOLA=$MATRICOLA" src="images/rd.jpg" width="15" border="0" /></td>
          <td valign="bottom" width="65"><a href="gestione_coda_eve.php?AB_CODI=$AB_CODI&amp;ID_ALLARME=$ID_ALLARME" target="anagrafica"><font color="#ff0000" size="3">$AB_CODI</font></a></td>
          <td valign="bottom" width="70"><font size="2">$ORA</font></td>
          <td valign="bottom" width="60"><font size="3">$USER</font></td>
          <td valign="bottom" width="15">

<a href="#" onclick="window.open('registrazione.php?FILENAME=$FILENAME','nuovaFinestra', 'width=1100,height=100,scrollbars=no')">
<img height="15" alt="FILENAME=$FILENAME" src="images/reg.jpg" width="15" border="0" align="top" class="podPress_imgicon"></a></td>

        </tr>
      </tbody>
    </table>
  </div>