<html>

<head>
<meta http-equiv="Content-Language" content="it">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>DISTRIBUZIONE SETTIMANALE DELLE</title>
</head>

<BODY BGCOLOR="B0D8FF">
<br>
<p align="center"><b><font size="5">DISTRIBUZIONE SETTIMANALE DELLE PROVE</font></b></p>
<p>&nbsp;</p>
<div align="center">
	<table border="0" width="900" id="table1">
		<tr>
			<td><iframe width="130" height="200" name="lunedi" src="lunedi.php" marginwidth="0" marginheight="0" scrolling="no" frameborder="0"></iframe></td>
			<td><iframe width="130" height="200" name="martedi" src="martedi.php" marginwidth="0" marginheight="0" scrolling="no" frameborder="0"></iframe></td>
			<td><iframe width="130" height="200" name="mercoledi" src="mercoledi.php" marginwidth="0" marginheight="0" scrolling="auto" frameborder="0"></iframe></td>
			<td><iframe width="130" height="200" name="giovedi" src="giovedi.php" marginwidth="0" marginheight="0" scrolling="no" frameborder="0"></iframe></td>
			<td><iframe width="130" height="200" name="venerdi" src="venerdi.php" marginwidth="0" marginheight="0" scrolling="no" frameborder="0"></iframe></td>
			<td><iframe width="130" height="200" name="sabato" src="sabato.php" marginwidth="0" marginheight="0" scrolling="no" frameborder="0"></iframe></td>
			<td><iframe width="130" height="200" name="domenica" src="domenica.php" marginwidth="0" marginheight="0" scrolling="no" frameborder="0"></iframe></td>
		</tr>
		</table>
</div>

</body>

</html>