<HTML>
<HEAD>
<BODY BGCOLOR="B0D8FF">

<center>
<TABLE>
  <tr>
    <TD width=70% ><DIV align=center>&nbsp;</DIV>
	<DIV align=center><STRONG><font color="#000080" face size="5">Generazione 
		</font></STRONG></DIV>
	<DIV align=center><STRONG><FONT face="" size=5><font color="#000080">delle 
		</font></FONT></STRONG></DIV>
	<DIV align=center><STRONG><FONT face="" size=5><font color="#000080">Prove del Giorno</font> </FONT></STRONG></DIV>
	<DIV align=center>&nbsp;</DIV>
	<DIV align=center><STRONG><font color="#FF0000" face size="5"></font></STRONG></DIV></TD>
    </TR>
</TABLE> 

<P>&nbsp;&nbsp;&nbsp; 
</P>
<FORM action="genera_proveday_db.php" method="POST" name=form1>

<P>&nbsp; 
</P>


<P><font face="Goudy Stout"><FONT color=crimson size="5"><STRONG>Attenzione !!!</STRONG></FONT><font size="5">
</font></font> 
</P>
<P><font size="4" color="crimson" face="Arial">La generazione dei fogli comporta la distruzione delle 
prove fatte precedentemente</font><font size="4" face="Arial"> </font> 
</P>

          <p><input type="submit" name="Button" value="Genera Prove"></p>

<P>&nbsp; 
</P>
</FORM>
   </center>
</BODY>
</HTML>