<html>

<head>
<meta http-equiv="Content-Language" content="it">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Nuova pagina 1</title>
</head>

<BODY BGCOLOR="B0D8FF">

<div align="center">
	<table border="1" width="90%" id="table1" bgcolor="#CCFF66">
		<tr>
			<td align="center"><b>CODICE</b></td>
			<td align="center"><b>GIORNO</b></td>
			<td align="center"><b>FOGLIO</b></td>
			<td align="center"><b>FASCIA</b></td>
			<td align="center"><b>RICHIAMARE</b></td>

		</tr>