<div align="center">
	<table border="0" width="600">
		<tr>
			<td colspan="6">&nbsp;</td>
		</tr>
		<tr>
			<td bgcolor="#4682B4" width="109"><font color="#FFFFFF"><strong>
			<font face="Times New Roman,Times" size="2">Numero:</font></strong></td>
			<td width="253" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">
			<b><font face="Times New Roman,Times">$NUMERO</font></b></td>
			<td bgcolor="#4682B4" width="61"><strong>
			<font face="Times New Roman,Times" size="2" color="#FFFFFF">Telefono</font></strong></td>
			<td colspan="3" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">
			<b><font face="Times New Roman,Times">$TEL_1</font></b></td>
		</tr>
		<tr>
			<td bgcolor="#4682B4" width="109"><font color="#FFFFFF"><strong>
			<font face="Times New Roman,Times" size="2">Nominativo</font></strong></font></td>
			<td width="253" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">
			<b><font face="Times New Roman,Times">$NOMINATIVO</font></b></td>
			<td bgcolor="#4682B4" width="61"><strong>
			<font face="Times New Roman,Times" size="2" color="#FFFFFF">Telefono</font></strong></td>
			<td colspan="3" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">
			<b><font face="Times New Roman,Times">$TEL_2</font></b></td>
		</tr>
		<tr>
			<td bgcolor="#4682B4" width="109"><strong>
			<font face="Times New Roman,Times" size="2" color="#FFFFFF">
			Referente</font></strong></td>
			<td width="253" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">
			<b><font face="Times New Roman,Times">$REFERENTE</font></b></td>
			<td bgcolor="#4682B4" width="61"><font color="#FFFFFF"><strong>
			<font face="Times New Roman,Times" size="2">Cellulare</font></strong></td>
			<td colspan="3" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">
			<b><font face="Times New Roman,Times">$CELLULARE</font></b></td>
		</tr>
		<tr>
			<td bgcolor="#4682B4" width="109"><font color="#FFFFFF"><strong>
			<font face="Times New Roman,Times" size="2">Indirizzo</font></strong></td>
			<td width="253" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">
			<b><font face="Times New Roman,Times">$INDIRIZZO</font></b></td>
			<td bgcolor="#4682B4" width="61"><strong>
			<font face="Times New Roman,Times" size="2" color="#FFFFFF">Fax</font></strong></td>
			<td colspan="3" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">
			<b><font face="Times New Roman,Times">$FAX</font></b></td>
		</tr>
		<tr>
			<td bgcolor="#4682B4" width="109"><font color="#FFFFFF"><strong>
			<font face="Times New Roman,Times" size="2">Comune</font></strong></td>
			<td width="253" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">
			<b><font face="Times New Roman,Times">$COMUNE</font></b></td>
			<td bgcolor="#4682B4" width="61"><strong>
			<font face="Times New Roman,Times" size="2" color="#FFFFFF">Prov</font></strong></td>
			<td width="22" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">
			<b><font face="Times New Roman,Times">$PROV</font></b></td>
			<td width="54" bgcolor="#4682B4"><strong>
			<font face="Times New Roman,Times" size="2" color="#FFFFFF">Cap</font></strong></td>
			<td width="47" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">
			<b><font face="Times New Roman,Times">$CAP</font></b></td>
		</tr>
		<tr>
			<td bgcolor="#4682B4" width="109"><font color="#FFFFFF"><strong>
			<font face="Times New Roman,Times" size="2">Orario Ambulatorio</font></strong></font></td>
			<td colspan="5" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">
			<b>$ORARIO</b></td>
		</tr>
		<tr>
			<td bgcolor="#4682B4" width="109"><strong>
			<font face="Times New Roman,Times" size="2" color="#FFFFFF">Note</font></strong></td>
			<td colspan="5" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">
			<b>$NOTE</b></td>
		</tr>
		<tr>
			<td colspan="6">&nbsp;</td>
		</tr>
	</table></div>

