 <div align="center">
	<table width="700"> 
  <tr>
      <td width="687" colspan="8">
		<p align="center"><u><b><font face="Arial Black" size="4">CONVIVENTE</font></b></u></td>
    </tr>
  <tr>
      <td width="687" colspan="8">
		&nbsp;</td>
    </tr>
    <tr>
      <td width="62"><font size="2" face="Arial" color="#4682B4">
      <strong>Cointestatario:</strong></font></td>
      <td width="99" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><font face="Times New Roman" size="2"><b>$COINTESTATARIO</b></td>
      <td width="76"><strong><font face="Arial" size="2" color="#4682B4">
		Parentela</font></strong><font size="2" face="Arial" color="#4682B4"><strong>:</strong></font></td>
      <td width="175" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><font face="Times New Roman" size="2">$PARENTELA</font></td>
      <td width="122" colspan="2">&nbsp;</td>
      <td width="54">&nbsp;</td>
      <td width="45">&nbsp;</td>
    </tr>
    <tr>
      <td width="62"><font size="2" face="Arial" color="#4682B4">
      <strong>Nominativo</strong><b>:</b></font></td>
      <td width="358" colspan="3" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><font face="Times New Roman" size="2">$NOME</b></font></td>
      <td width="122" colspan="2">&nbsp;</td>
      <td width="54">&nbsp;</td>
      <td width="45">&nbsp;</td>
    </tr>
    <tr>
      <td width="62"><b><font face="Arial" size="2" color="#4682B4">Cellulare:</font></b></td>
      <td width="358" colspan="3" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><font face="Times New Roman" size="2"><b>$CELLULARE</b></td>
      <td width="74"><b><font face="Arial" size="2" color="#4682B4">
      Sesso:</font></font></b></td>
      <td width="44" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><font face="Times New Roman" size="2"><b>$SESSO</b></td>
      <td width="54">&nbsp;</td>
      <td width="45">&nbsp;</td>
    </tr>
    <tr>
      <td width="62"><b><font face="Arial" size="2" color="#4682B4">D.nascita:</font></b></td>
      <td width="99" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><font face="Times New Roman" size="2"><b>$DATA_NASCITA</b></font></td>
      <td width="76"><b><font size="2" color="#4682B4" face="Arial">L. nascita:</font></b></td>
      <td width="175" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><font face="Times New Roman" size="2"><b>$LUOGO_NASCITA</b></font></td>
      <td width="74"><b><font face="Arial" size="2" color="#4682B4">Peso:</font></b></td>
      <td width="29" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><font face="Times New Roman" size="2"><b>$PESO"</b></font></td>
      <td width="54"><b><font size="2" color="#4682B4" face="Arial">Altezza:</font></b></td>
      <td width="45" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><font face="Times New Roman" size="2"><b>$ALTEZZA</b></font></td>
    </tr>
    <tr>
      <td width="62"><font face="Arial" size="2" color="#4682B4">Evidenzia:</font></td>
      <td width="591" colspan="7" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><font face="Times New Roman" size="2">
      $EVIDENZIA</font></td>
    </tr>
    <tr>
      <td width="62"><font face="Arial" size="2" color="#4682B4">Note:</font></td>
      <td width="591" colspan="7" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><font face="Times New Roman" size="2">
      $NOTE</font></td>
    </tr>
    <tr>
      <td width="62"><font face="Arial" size="2" color="#4682B4">Patologia:</font></td>
      <td width="591" colspan="7" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><font face="Times New Roman" size="2">
      $PATOLOGIA</font></td>
    </tr>
    <tr>
      <td width="62"><font face="Arial" size="2" color="#4682B4">Terapia:</font></td>
      <td width="591" colspan="7" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><font face="Times New Roman" size="2">
      $TERAPIA</font></td>
    </tr>
    <tr>
      <td width="62">&nbsp;</td>
      <td width="591" colspan="7">&nbsp;</td>
    </tr>
</table>

    </div>

    </center>
