<div align="center">
	<table border="0" width="600">
		<tr>
			<td colspan="4">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td bgcolor="#4682B4" width="124"><font color="#FFFFFF"><strong>
			<font face="Times New Roman,Times" size="2">Numero:</font></strong></td>
			<td style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">
			<b><font face="Times New Roman,Times">$NUMERO</font></b></td>
			<td bgcolor="#4682B4"><strong>
			<font face="Times New Roman,Times" size="2" color="#FFFFFF">Tipo</font></strong></td>
			<td style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">
			<b><font face="Times New Roman,Times">$TIPO</font></b></td>
			<td></td>
		</tr>
		<tr>
			<td bgcolor="#4682B4" width="124"><font color="#FFFFFF"><strong>
			<font face="Times New Roman,Times" size="2">Nominativo</font></strong></font></td>
			<td style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">
			<b><font face="Times New Roman,Times">$NOMINATIVO</font></b></td>
			<td bgcolor="#4682B4"><strong>
			<font face="Times New Roman,Times" size="2" color="#FFFFFF">Tel. 1</font></strong></td>
			<td style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">
			<b><font face="Times New Roman,Times">$TEL_1</font></b></td>
		</tr>
		<tr>
			<td bgcolor="#4682B4" width="124">&nbsp;</td>
			<td style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">&nbsp;</td>
			<td bgcolor="#4682B4"><strong>
			<font face="Times New Roman,Times" size="2" color="#FFFFFF">Tel. 2</font></strong></td>
			<td style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">
			<b><font face="Times New Roman,Times">$TEL_2</font></b></td>
		</tr>
		<tr>
			<td bgcolor="#4682B4" width="124"><strong>
			<font face="Times New Roman,Times" size="2" color="#FFFFFF">
			Referente</font></strong></td>
			<td style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">
			<b><font face="Times New Roman,Times">$REFERENTE</font></b></td>
			<td bgcolor="#4682B4"><font color="#FFFFFF"><strong>
			<font face="Times New Roman,Times" size="2">Cellulare</font></strong></td>
			<td style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">
			<b><font face="Times New Roman,Times">$CELLULARE</font></b></td>
		</tr>
		<tr>
			<td bgcolor="#4682B4" width="124"><strong>
			<font face="Times New Roman,Times" size="2" color="#FFFFFF">Note</font></strong></td>
			<td colspan="3" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">
			<b>$NOTE</b></td>
		</tr>
		<tr>
			<td bgcolor="#4682B4" width="124"><font color="#FFFFFF"><strong>
			<font face="Times New Roman,Times" size="2">Orario Ambulatorio</font></strong></font></td>
			<td colspan="3" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">
			<b>$ORARIO</b></td>
		</tr>
		<tr>
			<td colspan="4">&nbsp;</td>
		</tr>
	</table></div>

