  <centre>

  <div align="center">

  <table width="400">
  <tr>
    <td style="padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">&nbsp;</td>
    <td style="padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">&nbsp;</td>
    <td style="padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">&nbsp;</td>
    <td style="padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">&nbsp;</td>
    <td style="padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">&nbsp;</td>
  </tr>

  <tr>
    <td style="padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px" colspan="5">
	<p align="center"><u><b><font face="Arial Black" size="4">SOCCORRITORI 
	PUBBLICI</font></b></u></td>
  </tr>

  </table>

	</div>

</centre>