<div align="center">
	<table border="0" width="600">
		<tr>
			<td colspan="4">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td bgcolor="#4682B4"><font color="#FFFFFF"><strong>
			<font face="Times New Roman,Times" size="2">Numero:</font></strong></td>
			<td style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">
			<b><font face="Times New Roman,Times">$NUMERO</font></b></td>
			<td bgcolor="#4682B4"><font color="#FFFFFF"><strong>
			<font face="Times New Roman,Times" size="2">Specialita</font></strong></td>
			<td style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">
			<b><font face="Times New Roman,Times">$SPECIALISTA</font></b></td>
			<td></td>
		</tr>
		<tr>
			<td bgcolor="#4682B4"><font color="#FFFFFF"><strong>
			<font face="Times New Roman,Times" size="2">Nominativo</font></strong></font></td>
			<td style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">
			<b><font face="Times New Roman,Times">$MEDICO</font></b></td>
			<td bgcolor="#4682B4"><font color="#FFFFFF"><strong>
			<font face="Times New Roman,Times" size="2">Amb</font></strong></td>
			<td style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">
			<b><font face="Times New Roman,Times">$TEL_AMB</font></b></td>
		</tr>
		<tr>
			<td bgcolor="#4682B4"><font color="#FFFFFF"><strong>
			<font face="Times New Roman,Times" size="2">Indirizzo</font></strong></td>
			<td style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><font face="Times New Roman,Times">
			<b>$INDIRIZZO</b></td>
			<td bgcolor="#4682B4"><font color="#FFFFFF"><strong>
			<font face="Times New Roman,Times" size="2">Casa</font></strong></td>
			<td style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><font face="Times New Roman,Times">
			<b>$TEL_CASA</b></td>
		</tr>
		<tr>
			<td bgcolor="#4682B4"><font color="#FFFFFF"><strong>
			<font face="Times New Roman,Times" size="2">Comune</font></strong></td>
			<td style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">
			<b>$COMUNE</b></td>
			<td bgcolor="#4682B4"><font color="#FFFFFF"><strong>
			<font face="Times New Roman,Times" size="2">Cellulare</font></strong></td>
			<td style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><font face="Times New Roman,Times">
			<b>$TEL_CELL</b></td>
		</tr>
		<tr>
			<td bgcolor="#4682B4"><font color="#FFFFFF"><strong>
			<font face="Times New Roman,Times" size="2">Orario Ambulatorio</font></strong></font></td>
			<td colspan="3" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">
			<font size="2">$ORARIO</font></td>
		</tr>
		<tr>
			<td style="padding: 0" colspan="4">&nbsp;</td>
		</tr>
	</table></div>

