  <div align="center">
	<table border="0" cellpadding="0" style="border-collapse: collapse" width="700" id="AutoNumber1">
    <tr>
      <td colspan="8">
                    <p align="center"><u><b><font size="5" face="Arial Black">
					SCHEDA UTENTE</font></b></u></td>
    </tr>
    <tr>
      <td width="62">
                    &nbsp;</td>
      <td>
                    &nbsp;</td>
      <td>&nbsp;</td>
      <td>
                    &nbsp;</td>
      <td width="40">
                    &nbsp;</td>
      <td width="82" colspan="2">
                    &nbsp;</td>
      <td width="48">&nbsp;</td>
    </tr>
    <tr>
      <td width="62">
                    <font color="#4682B4"
                    face="Arial" size="2"><strong>Codice:</strong></font></td>
      <td style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">
                    <font face="Arial" color="#FF0000" size="5">
                    <b>$AB_CODI</b></font></td>
      <td><b><font face="Arial" size="2" color="#4682B4">Centrale:</font></b></td>
      <td style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">
                    <font face="Arial">
                    <b>$CENTRALE</b></font></td>
      <td width="40">
                    <font size="2"
                    face="Arial" color="#0066CC"><strong>Tel.:</strong></font></td>
      <td width="82" colspan="2" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">
                    <font face="Arial"><b>$TELEFONO</b></font></td>
      <td width="48">&nbsp;</td>
    </tr>
    <tr>
      <td width="62">
                    <font color="#4682B4" size="2" face="Arial"><strong>Matricola:</strong></font></td>
      <td style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">
                    <font face="Arial"><b>$MATRICOLA</b></font></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td width="40">
                    <font size="2"
                    face="Arial" color="#4682B4"><strong>Cell.:</strong></font></td>
      <td width="82" colspan="2" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">
                    <font face="Arial"><b>$CELLULARE</b></font></td>
      <td width="48">&nbsp;</td>
    </tr>
    <tr>
      <td width="62">
                    <font size="2"
                    face="Arial" color="#4682B4"><strong>Nominativo:</strong></font></td>
      <td colspan="3" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">
                    <font face="Arial"><b>$NOMINATIVO</b></font></td>
      <td width="40">
                    <font size="2"
                    face="Arial" color="#4682B4"><strong>Sesso:</strong></font></td>
      <td width="36" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><font face="Arial"><b>$SESSO</b></font></td>
      <td width="46"><font size="2"
                    face="Arial" color="#4682B4"><strong>Ente:</strong></font></td>
      <td width="48" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><font face="Arial"><b>$ENTE</b></font></td>
    </tr>
    <tr>
      <td width="62">&nbsp;</td>
      <td colspan="3">&nbsp;</td>
      <td width="40">&nbsp;</td>
      <td width="36">&nbsp;</td>
      <td width="46">&nbsp;</td>
      <td width="48">&nbsp;</td>
    </tr>
  </table>
	</div>
  <div align="center">
	<table width="700">
	   <tr>
      <td width="62">&nbsp;</td>
      <td colspan="3">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td></td>
    </tr>
    <tr>
      <td width="62"><b><font face="Arial" size="2" color="#4682B4">Indirizzo:</font></b></td>
      <td colspan="3" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><b>
		<font face="Arial">$INDIRIZZO</font></b></td>
      <td><b><font size="2" color="#4682B4" face="Arial">Zona:</font></b></td>
      <td style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><b>
		<font face="Arial">$ZONA</font></b></td>
      <td><b><font face="Arial" size="2" color="#4682B4">Tavola:</font></b></td>
      <td style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><b>
		<font face="Arial">$TAVOLA</font></b></td>
    </tr>
    <tr>
      <td width="62"><b><font face="Arial" size="2" color="#4682B4">Comune:</font></b></td>
      <td colspan="3" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">
      <b><font face="Arial">$COMUNE</font></b></td>
      <td><b><font face="Arial" size="2" color="#4682B4">Prov:</font></b></td>
      <td style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><b>
		<font face="Arial">$PROVINCIA</font></b></td>
      <td><b><font face="Arial" size="2" color="#4682B4">Cap:</font></b></td>
      <td style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><b>
		<font face="Arial">$CAP</font></b></td>
    </tr>
    <tr>
      <td width="62"><b><font face="Arial" size="2" color="#4682B4">D.nascita:</font></b></td>
      <td style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><b>
		<font face="Arial">$DATA_NASCITA</font></b></td>
      <td><b><font size="2" color="#4682B4" face="Arial">L. nascita:</font></b></td>
      <td style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><b>
		<font face="Arial">$LUOGO_NASCITA</font></b></td>
      <td><b><font face="Arial" size="2" color="#4682B4">Peso:</font></b></td>
      <td style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><b>
		<font face="Arial">$PESO</font></b></td>
      <td><b><font size="2" color="#4682B4" face="Arial">Altezza:</font></b></td>
      <td style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><b>
		<font face="Arial">$ALTEZZA</font></b></td>
    </tr>
    <tr>
      <td width="62"><b><font face="Arial" size="2" color="#4682B4">Evidenzia:</font></b></td>
      <td width="542" colspan="7" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">
		<font face="Arial" size="2">$EVIDENZIA</font></td>
    </tr>
    <tr>
      <td width="62"><b><font face="Arial" size="2" color="#4682B4">Note:</font></b></td>
      <td width="542" colspan="7" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">
		<font face="Arial" size="2">$NOTE
            
          </font>
            
          </td>
    </tr>
    <tr>
      <td width="62"><b><font face="Arial" size="2" color="#4682B4">Patologia:</font></b></td>
      <td width="542" colspan="7" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">
		<font face="Arial" size="2">$PATOLOGIA</font></td>
    </tr>
    <tr>
      <td width="62"><b><font face="Arial" size="2" color="#4682B4">Terapia:</font></b></td>
      <td width="542" colspan="7" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">
		<font face="Arial" size="2">$TERAPIA</font></td>
    </tr>
    <tr>
      <td width="62"><b><font face="Arial" size="2" color="#4682B4">Dati tecnici:</font></b></td>
      <td width="542" colspan="7" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">
		<font face="Arial" size="2">$DATI_TECNICI</font></td>
    </tr>
    <tr>
      <td width="62"><b><font face="Arial" size="2" color="#4682B4">P/0</font></b></td>
      <td width="542" colspan="7" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">
		<font face="Arial" size="2">$SOPRAVVIVENZA</font></td>
    </tr>
    <tr>
      <td width="62"><b><font face="Arial" size="2" color="#4682B4">Dati 
      Abitazione:</font></b></td>
      <td width="542" colspan="7" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">
		<font face="Arial" size="2">$DATI_ABITA</font></td>
    </tr>
    <tr>
      <td width="62"><b><font face="Arial" size="2" color="#4682B4">Altri Dati:</font></b></td>
      <td width="542" colspan="7" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">
		<font face="Arial" size="2">$ALTRO</font></td>
    </tr>
    <tr>
      <td width="62">&nbsp;</td>
      <td width="542" colspan="7">
		&nbsp;</td>
    </tr>
</table>

    </div>

    </center>
<br>
