    <div align="center">
    <br>
    <table border="0">
        <tr>
            <td align="center" bgcolor="#4682B4"><font color="#FFFFFF"><strong>
            <font face="Times New Roman,Times" size="2">N.</font></strong><font size="2" face="Times New Roman,Times"><strong> 
            int</strong></font>.</font></td>
            <td align="center" bgcolor="#4682B4">
            <font face="Times New Roman,Times" color="#FFFFFF"><strong>Soccorritori amici:</strong></font></td>
            <td align="center" bgcolor="#4682B4">&nbsp;</td>
            <td align="center" bgcolor="#4682B4">&nbsp;</td>
            <td align="center" bgcolor="#4682B4">
            <font face="Times New Roman,Times" color="#FFFFFF"><strong>Tempo</strong></font></td>
            <td align="center" bgcolor="#4682B4">
            <font face="Times New Roman,Times" color="#FFFFFF"><strong>Ch</strong></font></td>
            <td align="center" bgcolor="#4682B4">
            <font face="Times New Roman,Times" color="#FFFFFF"><strong>Coinq.</strong></font></td>
            <td align="center" bgcolor="#4682B4">
            <font face="Times New Roman,Times" color="#FFFFFF"><strong>Parente</strong></font></td>
        </tr>
        <tr>
            <td rowspan="3" align="center" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><p align="center"><font face="Times New Roman,Times">$NUMERO</font></p></td>
            <td align="center" rowspan="3" width="100" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><font face="Times New Roman,Times">$NOME</font></td>
            <td align="center" width="70" bgcolor="#4682B4">
			<font color="#FFFFFF"><strong>casa:</strong></font></td>
            <td align="center" width="100" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><p align="left"><font face="Times New Roman,Times">$TEL_CASA</font></p></td>
            <td align="center" width="50" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><p align="left"><font face="Times New Roman,Times">$TEMPO_CASA</font> </p></td>
            <td align="center" valign="top" rowspan="3" width="35" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><font face="Times New Roman,Times">$CHIAVI</font></td>
            <td align="center" valign="top" rowspan="3" width="35" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><font face="Times New Roman,Times">$COINQUILINO</font></td>
            <td align="center" valign="top" rowspan="3" width="60" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><font face="Times New Roman,Times">$PARENTE</font><p align="center">&nbsp;</p></td>
        </tr>
        <tr>
            <td align="center" width="70" bgcolor="#4682B4">
			<font color="#FFFFFF"><strong>ufficio:</strong></font></td>
            <td align="center" width="100" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><p align="left"><font face="Times New Roman,Times">$TEL_UFF</font></p></td>
            <td align="center" width="50" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><p align="left"><font face="Times New Roman,Times">$TEMPO_UFF</font></p></td>
        </tr>
        <tr>
            <td align="center" width="70" bgcolor="#4682B4">
			<font color="#FFFFFF"><strong>Cellulare:</strong></font></td>
            <td align="center" width="100" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><p align="left"><font face="Times New Roman,Times">$TEL_CELL</font></p></td>
            <td align="center" width="50" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">&nbsp;</td>
        </tr>
    </table>
    </center></div>