<centre>

  <div align="center">

  <table>
  <tr>
    <td style="padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px" width="30">&nbsp;</td>
    <td style="padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px" width="150">&nbsp;</td>
    <td style="padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px" width="100">&nbsp;</td>
    <td style="padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px" width="20">&nbsp;</td>
    <td style="padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px" width="100">&nbsp;</td>
  </tr>

  <tr>
    <td style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px" width="30">$NUMERO</td>
    <td style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px" width="150">$TIPO</td>
    <td style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px" width="100">$TEL_1</td>
    <td style="padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px" width="20"></td>
    <td style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px" width="100">$TEL_2</td>
  </tr>