<div align="center">
    <center>
   <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" width="600" id="AutoNumber1">
    <tr>
      <td width="604" colspan="10">
      <p align="center">
		<p align="center"><u><b><font face="Arial Black" size="4">STIPULANTE</font></b></u></td>
    </tr>
    <tr>
      <td width="604" colspan="10">
      &nbsp;</td>
    </tr>
    <tr>
      <td width="62"><strong><font face="Arial" size="2" color="#4682B4">Ente:</font></strong></td>
      <td width="124" colspan="2" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><b><font size="2">$ENTE</font></b></td>
      <td width="124" colspan="2"><font size="2" face="Arial" color="#0066CC">
		<strong>Parentela:</strong></font></td>
      <td width="124" colspan="2" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><b><font size="2">$PARENTELA</font></b></td>
      <td width="40"><font size="2" face="Arial" color="#0066CC"><strong>Centrale:</strong></font></td>
      <td width="99" colspan="2" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><b><font size="2">$CENTRALE</font></b></td>
    </tr>
    <tr>
      <td width="62">&nbsp;</td>
      <td width="124" colspan="2"></td>
      <td width="124" colspan="2">&nbsp;</td>
      <td width="124" colspan="2">&nbsp;</td>
      <td width="40"></td>
      <td width="99" colspan="2"></td>
    </tr>
    <tr>
      <td width="62"><font size="2" face="Arial" color="#4682B4"><strong>Nominativo:</strong></font></td>
      <td width="372" colspan="6" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><b><font size="2">$NOMINATIVO</font></b></td>
      <td width="40"><font size="2" face="Arial" color="#0066CC"><strong>Tel.:</strong></font></td>
      <td width="99" colspan="2" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><b><font size="2">$TELEFONO</font></b></td>
    </tr>
    <tr>
      <td width="62"><font size="2" face="Arial" color="#4682B4"><strong>Referente:</strong></font></td>
      <td width="372" colspan="6" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><b><font size="2">$REFERENTE</font></b></td>
      <td width="40"><font size="2" face="Arial" color="#4682B4">
      <strong>Uff.:</strong></font></td>
      <td width="99" colspan="2" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><b><font size="2">$TEL_UFFICIO</font></b></td>
    </tr>
    <tr>
      <td width="62"><font size="2" face="Arial" color="#4682B4"><strong>E-mail:</strong></font></td>
      <td width="372" colspan="6" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><b><font size="2">$EMAIL</font></b></td>
      <td width="40"><font size="2" face="Arial" color="#4682B4"><strong>Cell.:</strong></font></td>
      <td width="99" colspan="2" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><b><font size="2">$CELLULARE</font></b></td>
    </tr>
    <tr>
      <td width="62">&nbsp;</td>
      <td width="372" colspan="6">&nbsp;</td>
      <td width="40">&nbsp;</td>
      <td width="99" colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td width="62"><b><font face="Arial" size="2" color="#4682B4">Indirizzo:</font></b></td>
      <td width="372" colspan="6" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><b><font size="2">$INDIRIZZO</font></b></td>
      <td width="40"><b><font face="Arial" size="2" color="#4682B4">Cap:</font></b></td>
      <td width="99" colspan="2" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><b><font size="2">$CAP</font></b></td>
    </tr>
    <tr>
      <td width="62"><b><font face="Arial" size="2" color="#4682B4">Comune:</font></b></td>
      <td width="372" colspan="6" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><b><font size="2">$COMUNE</font></b></td>
      <td width="40"><b><font face="Arial" size="2" color="#4682B4">Prov:</font></b></td>
      <td width="36" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><b><font size="2">$PROV</font></b></td>
      <td width="48" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">&nbsp;</td>
    </tr>
    <tr>
      <td width="62"><font size="2" face="Arial" color="#4682B4"><strong>CF:</strong></font></td>
      <td width="372" colspan="6" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><b><font size="2">$CF</font></b></td>
      <td width="40">&nbsp;</td>
      <td width="36">&nbsp;</td>
      <td width="48">&nbsp;</td>
    </tr>
    <tr>
      <td width="62"><font size="2" face="Arial" color="#4682B4"><strong>Piva:</strong></font></td>
      <td width="124" colspan="2" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><b><font size="2">$PIVA</font></b></td>
      <td width="124" colspan="2" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">&nbsp;</td>
      <td width="124" colspan="2" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">&nbsp;</td>
      <td width="40">&nbsp;</td>
      <td width="99" colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td width="62"><b><font face="Arial" size="2" color="#4682B4">Imponibile:</font></b></td>
      <td width="62" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><b><font size="2">$IMPONIBILE</font></b></td>
      <td width="62"><b><font face="Arial" size="2" color="#4682B4">Iva:</font></b></td>
      <td width="62" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><b><font size="2">$IVA%</font></b></td>
      <td width="62" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px">&nbsp;</td>
      <td width="62"><b><font face="Arial" size="2" color="#4682B4">Importo_iva:</font></b></td>
      <td width="62" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><b><font size="2">$IMPORTO_IVA</font></b></td>
      <td width="40"><b><font face="Arial" size="2" color="#4682B4">Totale:</font></b></td>
      <td width="99" colspan="2" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><b><font size="2">$TOTALE</font></b></td>
    </tr>
    <tr>
      <td width="62"><b><font face="Arial" size="2" color="#4682B4">Data 
		Inserimento:</font></b></td>
      <td width="124" colspan="2" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><b><font size="2">$DATA_INSERIMENTO</font></b></td>
      <td width="124" colspan="2"><b>
		<font face="Arial" size="2" color="#4682B4">Data Installazione:</font></b></td>
      <td width="124" colspan="2" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><b><font size="2">$DATA_INSTALLAZIONE</font></b></td>
      <td width="40"><b><font face="Arial" size="2" color="#4682B4">Data Disinstallazione:</font></b></td>
      <td width="99" colspan="2" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><b><font size="2">$DATA_DISINSTALLAZIONE</font></b></td>
    </tr>
    <tr>
      <td width="62">&nbsp;</td>
      <td width="124" colspan="2">&nbsp;</td>
      <td width="124" colspan="2">&nbsp;</td>
      <td width="124" colspan="2">&nbsp;</td>
      <td width="40"><b><font face="Arial" size="2" color="#4682B4">Motivo 
		Disinstallazione:</font></b></td>
      <td width="99" colspan="2" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><b><font size="2">$MOTIVO_DISINSTALLAZIONE</font></b></td>
    </tr>
    <tr>
      <td width="62"><b><font face="Arial" size="2" color="#4682B4">Contratto:</font></b></td>
      <td width="124" colspan="2" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><b><font size="2">$CONTRATTO</font></b></td>
      <td width="124" colspan="2"><b><font face="Arial" size="2" color="#4682B4">Pagamento:</font></b></td>
      <td width="124" colspan="2" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><b><font size="2">$PAGAMENTO</font></b></td>
      <td width="40"><b><font face="Arial" size="2" color="#4682B4">Modo Pagamento:</font></b></td>
      <td width="99" colspan="2" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><b><font size="2">$MODO_PAGAMENTO</font></b></td>
    </tr>
    <tr>
      <td width="62"><b><font face="Arial" size="2" color="#4682B4">Note:</font></b></td>
      <td width="542" colspan="9" style="border-style: ridge; border-width: 1px; padding-left: 4px; padding-right: 4px; padding-top: 1px; padding-bottom: 1px"><b><font size="2">$NOTE</font></b></td>		
   </tr>
    <tr>
      <td width="62">&nbsp;</td>
      <td width="542" colspan="9">&nbsp;</td>		
   </tr>
    </table>
    </div>