<html>
<center><strong>Pagina Numero ..... di .....</strong></center>
  <div align="center">
    <table cellpadding="2" border="1" bordercolorlight="#808080" bordercolordark="#000000" bgcolor="#C0C0C0" bordercolor="#C0C0C0">
        <tr>
          <td align="center" bgcolor="#000000"><strong><font face="Times New Roman,Times" color="#ffffff"><em>Data Ora</em></font></strong></td>
          <td align="center" bgcolor="#000000"><strong><font face="Times New Roman,Times" color="#ffffff"><em>clid</em></font></strong></td>
          <td align="center" bgcolor="#000000"><strong><font face="Times New Roman,Times" color="#ffffff"><em>src</em></font></strong></td>
          <td align="center" bgcolor="#000000"><strong><font face="Times New Roman,Times" color="#ffffff"><em>dst</em></font></strong></td>
          <td align="center" bgcolor="#000000"><strong><font face="Times New Roman,Times" color="#ffffff"><em>dcontext</em></font></strong></td>
          <td align="center" bgcolor="#000000"><strong><font face="Times New Roman,Times" color="#ffffff"><em>channel</em></font></strong></td>
          <td align="center" bgcolor="#000000"><strong><font face="Times New Roman,Times" color="#ffffff"><em>dstchannel</em></font></strong></td>
          <td align="center" bgcolor="#000000"><strong><font face="Times New Roman,Times" color="#ffffff"><em>duration</em></font></strong></td>
          <td align="center" bgcolor="#000000"><strong><font face="Times New Roman,Times" color="#ffffff"><em>billsec</em></font></strong></td>
          <td align="center" bgcolor="#000000"><strong><font face="Times New Roman,Times" color="#ffffff"><em>disposition</em></font></strong></td>
        </tr>