<HTML>
    <HEAD>
        <TITLE>SCHEDULATORE EVENTI</TITLE>
    </HEAD>
    
<BODY BGCOLOR="FFFFCC">

<center><strong>Pagina Numero ..... di .....</strong></center>
		<div align="center">
		<table border="1" cellpadding="2">
				<TR>
                                     <td align="middle" bgcolor="#000000">
										<font
                                     face="Times New Roman,Times" color="#FFFFFF" size="4"><b><i>Id</i></b></font></td>
                                     <td align="middle" bgcolor="#000000">
										<font
                                     face="Times New Roman,Times" color="#FFFFFF" size="4"><b><i>Data</i></b></font></td>
                                     <td align="middle" bgcolor="#000000">
										<font
                                     face="Times New Roman,Times" color="#FFFFFF" size="4"><b><i>Ora</i></b></font></td>
                                     <td align="middle" bgcolor="#000000">
										<font
                                     face="Times New Roman,Times" color="#FFFFFF" size="4"><b><i>Codice</i></b></font></td>
                                     <td align="middle" bgcolor="#000000">
										<font
                                     face="Times New Roman,Times" color="#FFFFFF" size="4"><b><i>Evento</i></b></font></td>
                                     <td align="middle" bgcolor="#000000">
										<font
                                     face="Times New Roman,Times" color="#FFFFFF" size="4"><b><i>Matricola</i></b></font></td>
                                     <td align="middle" bgcolor="#000000">
										<font
                                     face="Times New Roman,Times" color="#FFFFFF" size="4"><b><i>Mux</i></b></font></td>
                                     
                  </TR>
