
			
				<p align="left"><b><font face="Arial">
			
				<TR>
           <td align="middle" valign="bottom" bgcolor="#FFFFFF" bordercolor="#FFFFFF">
				<font size="2">$ID_ALLARME</font></td>  
           <td align="middle" valign="bottom" bgcolor="#FFFFFF" bordercolor="#FFFFFF">
				$DATA</td>  
           <td align="middle" valign="bottom" bgcolor="#FFFFFF" bordercolor="#FFFFFF">
				$ORA</td>
           <td align="middle" valign="bottom" bgcolor="#FFFFFF" bordercolor="#FFFFFF">
				$AB_CODI</td>
           <td align="middle" valign="bottom" bgcolor="#FFFFFF" bordercolor="#FFFFFF">
				$EVENTO</td>
           <td align="middle" valign="bottom" bgcolor="#FFFFFF" bordercolor="#FFFFFF">
				$MATRICOLA</td>
           <td align="middle" valign="bottom" bgcolor="#FFFFFF" bordercolor="#FFFFFF">
				$MUX</td>
           	    </TR>



