<BODY BGCOLOR="FFFFCC">

<p align="center"><b><font color="#FF0000" size="5">GESTIONE&nbsp; GUARDIA 
MEDICA<i> - </i>ASI -</font></b></p>

  <div align="center"><center>
      <table id="AutoNumber2" cellspacing="0" cellpadding="0" width="450" border="0" style="border-collapse: collapse">
        <tbody>
          <tr>
            <td width="20%">
              <form action="gestione_gmed.php" method="post"><font size="3">
				<input type="submit" value="GESTIONE GMED" name="GESTIONE" style="font-weight: 700; background-color: #33ccff" /></font><strong> </strong></form>
            </td>
            <td width="20%">
              <form action="elenco_visite.php" method="post"><font size="3">
				<input type="submit" value="ELENCO VISITE" name="ELENCO VISITE" style="font-weight: 700; background-color: #33ccff" /></font><strong> </strong></form>
            </td>
            <td width="20%">
              <form action="ricerca.html" method="post"><font size="3">
				<input type="submit" value="RICERCA" name="RICERCA" style="font-weight: 700; background-color: #33ccff" /></font><strong> </strong></form>
            </td>
            <td width="20%">
              <form action="fatturazione_asi.php" method="post"><font size="3">
				<input type="submit" value="FATTURAZIONE ASI" name="FATTURAZIONE" style="font-weight: 700; background-color: #33ccff" /></font><strong> </strong></form>
            </td>
            <td width="20%">
              <form action="telefonici_asi.pdf" method="post"><font size="3">
				<input type="submit" value="TELEFONICI" name="TELEFONICI" style="font-weight: 700; background-color: #33ccff" /></font><strong> </strong></form>
            </td>
            <td width="20%">
              <form action="turni_asi.pdf" method="post"><font size="3">
				<input type="submit" value="TURNI" name="TURNI" style="font-weight: 700; background-color: #33ccff" /></font><strong> </strong></form>
            </td>
            <td width="20%">
              <form action="convenzioni_asi.pdf" method="post"><font size="3">
				<input type="submit" value="CONVENZIONI" name="CONVENZIONI" style="font-weight: 700; background-color: #33ccff" /></font><strong> </strong></form>
            </td>
          </tr>
        </tbody>
      </table><b><br /></b><br /><br /></center></div>