<html>

<head>
<meta http-equiv="Content-Language" content="it">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Nuova pagina 1</title>
</head>

<body scroll=yes>

<div align="center">
	<table border="1" width="90%" id="table1" bgcolor="#CCFF66">
		<tr>
			<td align="center"><b>DATA</b></td>
			<td align="center"><b>ORA</b></td>
			<td align="center"><b>CONVENZIONE</b></td>
			<td align="center"><b>NOMINATIVO</b></td>
			<td align="center"><b>MEDICO</b></td>
			<td align="center"><b>OPERATORE</b></td>
		</tr>
	