<div align="center">
<table>
    <tr>
      <td width="604" colspan="6">
		<p align="center"><font face="Arial" size="4" color="#4682B4">&nbsp;&nbsp;
		<u>SCHEDA VISITA MEDICA</u></font></td>
    </tr>
    <tr>
      <td width="604" colspan="6">
		&nbsp;</td>
    </tr>
    <tr>
      <td width="97"><b><font face="Arial" size="2" color="#4682B4">Data:</font></b></td>
      <td width="373" colspan="3"><font face="Arial"><b>$DATA</b></font></td>
      <td width="103" colspan="2"><b><font face="Arial" size="2" color="#4682B4">Operatore:</font></b></td>
      <td width="166" colspan="2"><font face="Arial"><b>$USER</b></font></td>
    </tr>
    <tr>
      <td width="97" height="23"><b><font face="Arial" size="2" color="#4682B4">Ora:</font></b></td>
      <td width="373" colspan="3" height="23"><font face="Arial"><b>$ORA</b></font></td>
      <td width="46" height="23">&nbsp;</td>
      <td width="57" height="23">&nbsp;</td>
      <td width="70" height="23">&nbsp;</td>
      <td width="96" height="23">&nbsp;</td>
    </tr>
    <tr>
      <td width="97">&nbsp;</td>
      <td width="373" colspan="3">&nbsp;</td>
      <td width="46">&nbsp;</td>
      <td width="57">&nbsp;</td>
      <td width="70">&nbsp;</td>
      <td width="96">&nbsp;</td>
    </tr>
    <tr>
      <td width="97"><b><font face="Arial" size="2" color="#4682B4">Convenzione:</font></b></td>
      <td width="373" colspan="3"><font face="Arial"><b>$CONVENZIONE</b></font></td>
      <td width="46">&nbsp;</td>
      <td width="57">&nbsp;</td>
      <td width="70">&nbsp;</td>
      <td width="96">&nbsp;</td>
    </tr>
    <tr>
      <td width="97"><b><font face="Arial" size="2" color="#4682B4">Dossier:</font></b></td>
      <td width="373" colspan="3"><font face="Arial"><b>$DOSSIER</b></font></td>
      <td width="46">&nbsp;</td>
      <td width="57">&nbsp;</td>
      <td width="70">&nbsp;</td>
      <td width="96">&nbsp;</td>
    </tr>
    <tr>
      <td width="97">&nbsp;</td>
      <td width="373" colspan="3">&nbsp;</td>
      <td width="46">&nbsp;</td>
      <td width="57">&nbsp;</td>
      <td width="70">&nbsp;</td>
      <td width="96">&nbsp;</td>
    </tr>
    <tr>
      <td width="97"><b><font face="Arial" size="2" color="#4682B4">Nominativo:</font></b></td>
      <td width="373" colspan="3"><font face="Arial"><b>$NOMINATIVO</b></font></td>
      <td width="107" colspan="2"><b>
		<font face="Arial" size="2" color="#4682B4">Telefono:</font></b></td>
      <td width="170" colspan="2"><font face="Arial"><b>
      $TELEFONO</b></font></td>
    </tr>
    <tr>
      <td width="97"><b><font face="Arial" size="2" color="#4682B4">Indirizzo:</font></b></td>
      <td width="373" colspan="3"><font face="Arial"><b>$INDIRIZZO</b></font></td>
      <td width="46">&nbsp;</td>
      <td width="57">&nbsp;</td>
      <td width="70">&nbsp;</td>
      <td width="96">&nbsp;</td>
    </tr>
    <tr>
      <td width="97"><b><font face="Arial" size="2" color="#4682B4">Comune:</font></b></td>
      <td width="373" colspan="3"><font face="Arial"><b>$COMUNE</b></font></td>
      <td width="46">&nbsp;</td>
      <td width="57">&nbsp;</td>
      <td width="70">&nbsp;</td>
      <td width="96">&nbsp;</td>
    </tr>
    <tr>
      <td width="97">&nbsp;</td>
      <td width="130">&nbsp;</td>
      <td width="78">&nbsp;</td>
      <td width="142">&nbsp;</td>
      <td width="46">&nbsp;</td>
      <td width="57">&nbsp;</td>
      <td width="70">&nbsp;</td>
      <td width="96">&nbsp;</td>
    </tr>
    <tr>
      <td width="97"><b><font face="Arial" size="2" color="#4682B4">Note:</font></b></td>
      <td width="677" colspan="7"><font face="Arial"><b>$NOTE</b></font></td>
    </tr>
    <tr>
      <td width="97">&nbsp;</td>
      <td width="677" colspan="7">&nbsp;</td>
    </tr>
    <tr>
      <td width="97"><b><font face="Arial" size="2" color="#4682B4">Medico:</font></b></td>
      <td width="373" colspan="3"><font face="Arial"><b>$MEDICO</b></font></td>
      <td width="46"><b><font face="Arial" size="2" color="#4682B4">Uscita:</font></b></td>
      <td width="57"><font face="Arial"><b>
      $USCITA</b></font></td>
      <td width="70"><b><font face="Arial" size="2" color="#4682B4">Tempo:</font></b></td>
      <td width="96"><font face="Arial"><b>$TEMPO</b></font></td>
    </tr>
    <tr>
      <td width="97">&nbsp;</td>
      <td width="677" colspan="7">&nbsp;</td>
    </tr>
    <tr>
      <td width="97"><b><font face="Arial" size="2" color="#4682B4">Referto:</font></b></td>
      <td width="677" colspan="7"><font face="Arial"><b>$REFERTO</b></font></td>
    </tr>
    <tr>
      <td width="97">&nbsp;</td>
      <td width="677" colspan="7">&nbsp;</td>
    </tr>
    <tr>
      <td width="97"><b><font face="Arial" size="2" color="#4682B4">Data chiuso:</font></b></td>
      <td width="130"><font face="Arial"><b>$DATA_CHIUSO</font></b></td>
      <td width="78"><b><font face="Arial" size="2" color="#4682B4">Ora chiuso:</font></b></td>
      <td width="142"><font face="Arial"><b>$ORA_CHIUSO</font></b></td>
      <td width="46">&nbsp;</td>
      <td width="57">&nbsp;</td>
      <td width="70">&nbsp;</td>
      <td width="96">&nbsp;</td>
    </tr>
    <tr>
      <td width="97">&nbsp;</td>
      <td width="677" colspan="7">&nbsp;</td>
    </tr>
    </table>

    </div>

    </center>
<br>
