<br>
<div align="center">
	<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" width="600" id="AutoNumber1">
    <tr>
      <td width="76">
                    <font color="#4682B4"
                    face="Arial" size="2"><strong>Codice:</strong></font></td>
      <td width="152">
                    <font face="Arial" color="#FF0000" size="5">
                    <b>$AB_CODI</b></font></td>
      <td width="74"><b><font face="Arial" size="2" color="#4682B4">Centrale:</font></b></td>
      <td width="89">
                    <font face="Arial" color="#4682B4" size="1">
                    <b>
                    <input
                    type="text" size="10" value="$CENTRALE" name="CENTRALE" style="font-size: 14pt; background-color:#B0D8FF"></b></font></td>
      <td width="52">
                    <font size="2"
                    face="Arial" color="#0066CC"><strong>Tel.:</strong></font></td>
      <td width="82" colspan="2">
                    <font color="#4682B4" face="Arial" size="1"><b>
                    <input type="text" size="15" value="$TELEFONO" name="TELEFONO" style="font-size: 14pt; background-color:#B0D8FF"></b></font></td>
      <td width="10">&nbsp;</td>
      <td width="49"><a href="componi.php?ID=$ID_ALLARME&PHONENUMBER=$TELEFONO&AB_CODI=$AB_CODI&NOMINATIVO=$NOMINATIVO&TSCUSER=$username"
><img border="0" src="images/tel.jpg" width="32" height="33"></a></td>
    </tr>
    <tr>
      <td width="76">
                    <font color="#4682B4" size="2" face="Arial"><strong>Matricola:</strong></font></td>
      <td width="152">
                    <font color="#4682B4" face="Arial" size="1"><b>
                    <input type="text" size="6" value="$MATRICOLA" name="MATRICOLA" style="font-size: 14pt; background-color:#B0D8FF"></b></font></td>
      <td width="74"><font color="#4682B4" size="2" face="Arial"><strong>Ente:</strong></font></td>
      <td width="89"><font color="#4682B4" face="Arial" size="1"><b>
                    <input type="text" size="10" value="$ENTE" name="ENTE" style="font-size: 14pt; background-color:#B0D8FF"></b></font></td>
      <td width="52">
                    <font size="2"
                    face="Arial" color="#4682B4"><strong>Cell.:</strong></font></td>
      <td width="82" colspan="2">
                    <font color="#4682B4" face="Arial" size="1"><b>
                    <input type="text" size="15" value="$CELLULARE"
                    name="CELLULARE" style="font-size: 14pt; background-color:#B0D8FF"></b></font></td>
      <td width="10">&nbsp;</td>
      <td width="49"><a href="componi.php?ID=$ID_ALLARME&PHONENUMBER=$CELLULARE&AB_CODI=$AB_CODI&NOMINATIVO=$NOMINATIVO&TSCUSER=$username"><img border="0" src="images/cell.jpg" width="32" height="33"></a></td>
    </tr>
    <tr>
      <td width="76">
                    <font size="2"
                    face="Arial" color="#4682B4"><strong>Nominativo:</strong></font></td>
      <td colspan="3">
                    <font color="#4682B4" face="Arial" size="1"><b>
                    <input type="text" size="35" value="$NOMINATIVO"
                    name="NOMINATIVO" style="font-size: 14pt; background-color:#B0D8FF"></b></font></td>
      <td width="52">
                    <font size="2"
                    face="Arial" color="#4682B4"><strong>Sesso:</strong></font></td>
      <td width="50"><font face="Arial" color="#4682B4" size="1">
                    <b>
                    <input
                    type="text" size="1" value="$SESSO" name="SESSO" style="font-size: 14pt; background-color:#B0D8FF"></b></font></td>
      <td width="48">&nbsp;</td>
      <td width="10">&nbsp;</td>
      <td width="49">&nbsp;</td>
    </tr>
    <tr>
      <td width="76">&nbsp;</td>
      <td colspan="3">&nbsp;</td>
      <td width="52">&nbsp;</td>
      <td width="50">&nbsp;</td>
      <td width="48">&nbsp;</td>
      <td width="10">&nbsp;</td>
      <td width="49"></td>
    </tr>
    <tr>
      <td colspan="9"><p align="center"><font face="Arial" size="4" color="#4682B4">SCHEDA 
		UTENTE</font></td>
    </tr>
</div>

    </table>