<div align="center">
	<table border="0" width="629">
		<tr>
			<td bgcolor="#4682B4" width="109"><font color="#FFFFFF"><strong>
			<font face="Times New Roman,Times" size="2">Numero:</font></strong></td>
			<td width="253"><font face="Times New Roman,Times">
			<input
            type="text" size="2" name="NUMERO" value="$NUMERO"></font></td>
			<td bgcolor="#4682B4" width="61"><strong>
			<font face="Times New Roman,Times" size="2" color="#FFFFFF">Telefono</font></strong></td>
			<td colspan="2"><font face="Times New Roman,Times">
			<input type="text" size="15" name="TEL_1" value="$TEL_1"></font></td>
			<td colspan="2"><a href="componi.php?ID=$ID_ALLARME&PHONENUMBER=$TEL_1&AB_CODI=$AB_CODI&NOMINATIVO=$NOMINATIVO&TSCUSER=$username"><img border="0" src="images/cell.jpg" width="32" height="33"></a></td>
		</tr>
		<tr>
			<td bgcolor="#4682B4" width="109"><font color="#FFFFFF"><strong>
			<font face="Times New Roman,Times" size="2">Nominativo</font></strong></font></td>
			<td width="253"><font face="Times New Roman,Times">
			<input
            type="text" size="30" name="NOMINATIVO" value="$NOMINATIVO"></font></td>
			<td bgcolor="#4682B4" width="61"><strong>
			<font face="Times New Roman,Times" size="2" color="#FFFFFF">Telefono</font></strong></td>
			<td colspan="2"><font face="Times New Roman,Times">
			<input
            type="text" size="15" name="TEL_2" value="$TEL_2"></font></td>
			<td colspan="2"><a href="componi.php?ID=$ID_ALLARME&PHONENUMBER=$TEL_2&AB_CODI=$AB_CODI&NOMINATIVO=$NOMINATIVO&TSCUSER=$username"><img border="0" src="images/cell.jpg" width="32" height="33"></a></td>
		</tr>
		<tr>
			<td bgcolor="#4682B4" width="109"><strong>
			<font face="Times New Roman,Times" size="2" color="#FFFFFF">
			Referente</font></strong></td>
			<td width="253"><font face="Times New Roman,Times">
			<input
            type="text" size="30" name="REFERENTE" value="$REFERENTE"></font></td>
			<td bgcolor="#4682B4" width="61"><font color="#FFFFFF"><strong>
			<font face="Times New Roman,Times" size="2">Cellulare</font></strong></td>
			<td colspan="2"><font face="Times New Roman,Times">
			<input
            type="text" size="15" name="CELLULARE" value="$CELLULARE"></font></td>
			<td colspan="2"><a href="componi.php?ID=$ID_ALLARME&PHONENUMBER=$CELLULARE&AB_CODI=$AB_CODI&NOMINATIVO=$NOMINATIVO&TSCUSER=$username"><img border="0" src="images/cell.jpg" width="32" height="33"></a></td>
		</tr>
		<tr>
			<td bgcolor="#4682B4" width="109"><font color="#FFFFFF"><strong>
			<font face="Times New Roman,Times" size="2">Indirizzo</font></strong></td>
			<td width="253"><font face="Times New Roman,Times">
			<input
            type="text" size="30" name="INDIRIZZO" value="$INDIRIZZO"></font></td>
			<td bgcolor="#4682B4" width="61"><strong>
			<font face="Times New Roman,Times" size="2" color="#FFFFFF">Fax</font></strong></td>
			<td colspan="2"><font face="Times New Roman,Times">
			<input
            type="text" size="15" name="FAX" value="$FAX"></font></td>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td bgcolor="#4682B4" width="109"><font color="#FFFFFF"><strong>
			<font face="Times New Roman,Times" size="2">Comune</font></strong></td>
			<td width="253"><font face="Times New Roman,Times">
			<input
            type="text" size="30" name="COMUNE" value="$COMUNE"></font></td>
			<td bgcolor="#4682B4" width="61"><strong>
			<font face="Times New Roman,Times" size="2" color="#FFFFFF">Prov</font></strong></td>
			<td width="22"><font face="Times New Roman,Times">
			<input
            type="text" size="2" name="PROV" value="$PROV"></font></td>
			<td width="54" bgcolor="#4682B4" colspan="2"><strong>
			<font face="Times New Roman,Times" size="2" color="#FFFFFF">Cap</font></strong></td>
			<td width="47"><font face="Times New Roman,Times">
			<input
            type="text" size="5" name="CAP" value="$CAP"></font></td>
		</tr>
		<tr>
			<td bgcolor="#4682B4" width="109"><font color="#FFFFFF"><strong>
			<font face="Times New Roman,Times" size="2">Orario Ambulatorio</font></strong></font></td>
			<td colspan="6"><textarea rows="3" name="ORARIO" cols="54">$ORARIO</textarea></td>
		</tr>
		<tr>
			<td bgcolor="#4682B4" width="109"><strong>
			<font face="Times New Roman,Times" size="2" color="#FFFFFF">Note</font></strong></td>
			<td colspan="6"><textarea rows="3" name="NOTE" cols="54">$NOTE</textarea></td>
		</tr>
	</table></div>