<div align="center">
	<table width="693"> 
  <tr>
      <td width="687" colspan="8">
		<p align="center"><font face="Arial" size="4" color="#4682B4">CONVIVENTE</font></td>
    </tr>
  <tr>
      <td width="687" colspan="8">
		&nbsp;</td>
    </tr>
    <tr>
      <td width="62"><font size="2" face="Arial" color="#4682B4">
      <strong>Cointestatario:</strong></font></td>
      <td width="99"><font face="Arial" color="#4682B4" size="1"><b><input type="text" size="1" value="$COINTESTATARIO" name="COINTESTATARIO"></b></td>
      <td width="76"><strong><font face="Arial" size="2" color="#4682B4">
		Parentela</font></strong><font size="2" face="Arial" color="#4682B4"><strong>:</strong></font></td>
      <td width="175">
		<input type="text" size="20" value="$PARENTELA" name="PARENTELA"></td>
      <td width="122" colspan="2">&nbsp;</td>
      <td width="54">&nbsp;</td>
      <td width="45">&nbsp;</td>
    </tr>
    <tr>
      <td width="62"><font size="2" face="Arial" color="#4682B4">
      <strong>Nominativo</strong><b>:</b></font></td>
      <td width="358" colspan="3"><input type="text" size="48" value="$NOME" name="NOME"></b></td>
      <td width="122" colspan="2">&nbsp;</td>
      <td width="54">&nbsp;</td>
      <td width="45">&nbsp;</td>
    </tr>
    <tr>
      <td width="62"><b><font face="Arial" size="2" color="#4682B4">Cellulare:</font></b></td>
      <td><font face="Arial" color="#4682B4" size="1"><b><input type="text" size="10" value="$CELL" name="CELLULARE"></b></td>
      <td width="54">
<a href="componi.php?ID=$ID_ALLARME&PHONENUMBER=$CELLULARE&AB_CODI=$AB_CODI&NOMINATIVO=$NOME&TSCUSER=$username"
><img border="0" src="images/tel.jpg" width="32" height="33"></a></td>
      <td width="45">&nbsp;</td>

      <td width="74"><b><font face="Arial" size="2" color="#4682B4">
      Sesso:</font></font></b></td>
      <td width="44"><font face="Arial" color="#4682B4" size="1"><b><input type="text" size="1" value="$SESSO" name="SESSO"></b></td>
      <td width="54">&nbsp;</td>
      <td width="45">&nbsp;</td>
    </tr>
    <tr>
      <td width="62"><b><font face="Arial" size="2" color="#4682B4">D.nascita:</font></b></td>
      <td width="99"><font face="Arial" color="#4682B4" size="1"><b><input type="text" size="10" value="$DATA_NASCITA" name="DATA_NASCITA"></b></font></td>
      <td width="76"><b><font size="2" color="#4682B4" face="Arial">L. nascita:</font></b></td>
      <td width="175"><font color="#4682B4" face="Arial" size="1"><b><input type="text" size="23" value="$LUOGO_NASCITA" name="LUOGO_NASCITA" value></b></font></td>
      <td width="74"><b><font face="Arial" size="2" color="#4682B4">Peso:</font></b></td>
      <td width="29"><font face="Arial" color="#4682B4" size="1"><b><input type="text" size="3" value="$PESO" name="PESO"></b></font></td>
      <td width="54"><b><font size="2" color="#4682B4" face="Arial">Altezza:</font></b></td>
      <td width="45"><font color="#4682B4" face="Arial" size="1"><b><input type="text" size="5" value="$ALTEZZA" name="ALTEZZA"></b></font></td>
    </tr>
    <tr>
      <td width="62"><font face="Arial" size="2" color="#4682B4">Evidenzia:</font></td>
      <td width="591" colspan="7"><font face="Arial" color="#4682B4" size="1">
      <b>
      <textarea
      name="EVIDENZIA" rows="2" cols="60">$EVIDENZIA</textarea></b></font></td>
    </tr>
    <tr>
      <td width="62"><font face="Arial" size="2" color="#4682B4">Note:</font></td>
      <td width="591" colspan="7"><font face="Arial" color="#4682B4" size="1">
      <b>
      <textarea
      name="NOTE" rows="5" cols="60">$NOTE</textarea></b></font></td>
    </tr>
    <tr>
      <td width="62"><font face="Arial" size="2" color="#4682B4">Patologia:</font></td>
      <td width="591" colspan="7"><font face="Arial" color="#4682B4" size="1">
      <b>
      <textarea
      name="PATOLOGIA" rows="4" cols="60">$PATOLOGIA</textarea></b></font></td>
    </tr>
    <tr>
      <td width="62"><font face="Arial" size="2" color="#4682B4">Terapia:</font></td>
      <td width="591" colspan="7"><font face="Arial" color="#4682B4" size="1">
      <b>
      <textarea
      name="TRAPIA" rows="4" cols="60">$TERAPIA</textarea></b></font></td>
    </tr>
</table>

    </div>

    </center>