
  <p align="center"><strong><font color="#000080" size="4">GESTIONE PROVA CODICE</font><font color="#ff0000" size="4"> </font><font color="#ff0000" size="5">$AB_CODI</font></strong></p>
	<div align="center"><center><br />
      <div align="center"><center>
          <table cellspacing="1" cellpadding="1" width="25%" border="0">
            <tbody>
              <tr>
                <td align="center">
                  <form action="gestione_prova_db.php?ID_ALLARME=$ID_ALLARME&amp;ALLARM_TYPE=OK"
 method="post">
                    <p><input type="submit" value="Ut. Trovato" name="OK" style="background-color: #00ff00" /></p>
                  </form>
                </td>
              </tr>
              <tr>
                <td align="center" />
              </tr>
              <tr>
                <td align="center">
                  <form action="gestione_prova_db.php?ID_ALLARME=$ID_ALLARME&amp;ALLARM_TYPE=CT"
 method="post">
                    <p><input type="submit" value="Contatto Tel." name="CT" style="background-color: #cc99ff" /></p>
                  </form>
                </td>
              </tr>
              <tr>
                <td align="center" />
              </tr>
              <tr>
                <td align="center">
                  <form action="gestione_prova_db.php?ID_ALLARME=$ID_ALLARME&amp;ALLARM_TYPE=OCC" method="post">
                    <p><input type="submit" value="Tel. Occupato" name="OCC" style="background-color: #ff0000" /></p>
                  </form>
                </td>
              </tr>
              <tr>
                <td align="center" />
              </tr>
              <tr>
                <td align="center">
                  <form action="gestione_prova_db.php?ID_ALLARME=$ID_ALLARME&amp;ALLARM_TYPE=MSG" method="post">
                    <p><input type="submit" value="Messaggio S." name="MSG" style="background-color: #ffff00" /></p>
                  </form>
                </td>
              </tr>
              <tr>
                <td align="center" />
              </tr>
              <tr>
                <td align="center">
                  <form action="gestione_prova_db.php?ID_ALLARME=$ID_ALLARME&amp;ALLARM_TYPE=NR"
method="post">
                    <p><input type="submit" value="Non Risponde" name="NR" style="padding-right: 4px; padding-left: 4px; padding-bottom: 1px; color: #000000; padding-top: 1px; background-color: #00ffff" /> </p>
                  </form>
                </td>
              </tr>
              <tr>
                <td align="center" />
              </tr>
              <tr>
                <td align="center">
                  <form action="gestione_prova_db.php?ID_ALLARME=$ID_ALLARME&amp;ALLARM_TYPE=DNF" method="post">
                    <p><input type="submit" value="Da NON Fare" name="DNF" style="color: #000000; background-color: #ff9900" /> </p>
                  </form>
                </td>
              </tr>
              <tr>
                <td align="center">
                  <form action="gestione_prova_db.php?ID_ALLARME=$ID_ALLARME&amp;ALLARM_TYPE=ASS" method="post">
                    <p><input type="submit" value="Assenza" name="ASS" style="color: #000000; background-color: #ff9900" /> </p>
                  </form>
                </td>
              </tr>
              <tr>
                <td align="center" />
              </tr>
              <tr>
                <td align="center">
                  <form action="gestione_prova_db.php?ID_ALLARME=$ID_ALLARME&amp;ALLARM_TYPE=RIC" method="post">
                    <p><input type="submit" value="Ricovero" name="RIC" style="color: #000000; background-color: #ff9900" /> </p>
                  </form>
                </td>
              </tr>
            </tbody>
          </table></center></div></center></div>