<BODY BGCOLOR="FFFFCC">
<div align="center">
	<table border="0" width="90%" id="table1" cellspacing="0" cellpadding="0">
		<tr>
			<td bgcolor="#000000" width="105%" align="center" colspan="5"><b>
			<font color="#FFFFFF" size="5">Storico Allarmi</font></b></td>
		</tr>
		<tr>
			<td bgcolor="#000000" width="15%" align="center"><b>
	<font color="#FFFFFF">Data</font></b></td>
			<td bgcolor="#000000" width="15%" align="center"><b>
	<font color="#FFFFFF">Ora</font></b></td>
			<td bgcolor="#000000" width="15%" align="center"><b>
			<font color="#FFFFFF">Codice</font></b></font></b></td>
			<td bgcolor="#000000" width="15%" align="center"><b>
	<font color="#FFFFFF">Evento</font></b></td>
			<td bgcolor="#000000" width="15%" align="center"><b>
	<font color="#FFFFFF">Matricola</font></b></td>
		</tr>