<BODY BGCOLOR="B0D8FF">
  
<div align="center">
	<table border="1" width="50%">
	<form action="login_mod_db.php?ID=$ID" method="post">
		<tr>
			<td width="78" align="center" bgcolor="#000000"><b>
			<font size="4" color="#FFFFFF">Operatore</font></b></td>
			<td align="center"><b>$USER</b></td>
			<td width="81" align="center" bgcolor="#000000"><b>
			<font size="4" color="#FFFFFF">Foglio</font></b></td>
			<td width="107" align="center"><b>$FOGLIO</b></td>
                        <td><p align="center"><input type="submit" value="ELIMINA" name="ELIMINA" style="background-color: #ff0000" /></td>
		</tr>
	</form>
	</table>