<div align="center">
	<table border="0" width="576">
		<tr>
			<td bgcolor="#4682B4" width="109"><font color="#FFFFFF"><strong>
			<font face="Times New Roman,Times" size="2">Numero:</font></strong></td>
			<td width="238"><font face="Times New Roman,Times">
			<input type="text" size="2" name="NUMERO" value="$NUMERO"></font></td>
			<td bgcolor="#4682B4" width="60"><font color="#FFFFFF"><strong>
			<font face="Times New Roman,Times" size="2">Specialita</font></strong></td>
			<td colspan="2"><font face="Times New Roman,Times">
			<input type="text" size="15" name="SPECIALISTA" value="$SPECIALISTA"></font></td>
		</tr>
		<tr>
			<td bgcolor="#4682B4" width="109"><font color="#FFFFFF"><strong>
			<font face="Times New Roman,Times" size="2">Nominativo</font></strong></font></td>
			<td width="238"><font face="Times New Roman,Times">
			<input
            type="text" size="30" name="MEDICO" value="$MEDICO"></font></td>
			<td bgcolor="#4682B4" width="60"><font color="#FFFFFF"><strong>
			<font face="Times New Roman,Times" size="2">Amb</font></strong></td>
			<td width="127"><font face="Times New Roman,Times">
			<input
            type="text" size="15" name="TEL_AMB" value="$TEL_AMB"></font></td>
			<td width="16"><a href="componi.php?ID=$ID_ALLARME&PHONENUMBER=$TEL_AMB&AB_CODI=$AB_CODI&NOMINATIVO=$MEDICO&TSCUSER=$username"><img border="0" src="images/cell.jpg" width="32" height="33"></a></td>
		</tr>
		<tr>
			<td bgcolor="#4682B4" width="109"><font color="#FFFFFF"><strong>
			<font face="Times New Roman,Times" size="2">Indirizzo</font></strong></td>
			<td width="238"><font face="Times New Roman,Times">
			<input
            type="text" size="30" name="INDIRIZZO" value="$INDIRIZZO"></font></td>
			<td bgcolor="#4682B4" width="60"><font color="#FFFFFF"><strong>
			<font face="Times New Roman,Times" size="2">Casa</font></strong></td>
			<td width="127"><font face="Times New Roman,Times">
			<input
            type="text" size="15" name="TEL_CASA" value="$TEL_CASA"></font></td>
			<td width="16"><a href="componi.php?ID=$ID_ALLARME&PHONENUMBER=$TEL_CASA&AB_CODI=$AB_CODI&NOMINATIVO=$MEDICO&TSCUSER=$username"><img border="0" src="images/cell.jpg" width="32" height="33"></a></td>
		</tr>
		<tr>
			<td bgcolor="#4682B4" width="109"><font color="#FFFFFF"><strong>
			<font face="Times New Roman,Times" size="2">Comune</font></strong></td>
			<td width="238"><font face="Times New Roman,Times">
			<input type="text" size="30" name="COMUNE" value="$COMUNE"></font></td>
			<td bgcolor="#4682B4" width="60"><font color="#FFFFFF"><strong>
			<font face="Times New Roman,Times" size="2">Cellulare</font></strong></td>
			<td width="127"><font face="Times New Roman,Times">
			<input
            type="text" size="15" name="TEL_CELL" value="$TEL_CELL"></font></td>
			<td width="16"><a href="componi.php?ID=$ID_ALLARME&PHONENUMBER=$TEL_CELL&AB_CODI=$AB_CODI&NOMINATIVO=$MEDICO&TSCUSER=$username"><img border="0" src="images/cell.jpg" width="32" height="33"></a></td>
		</tr>
		<tr>
			<td bgcolor="#4682B4" width="109"><font color="#FFFFFF"><strong>
			<font face="Times New Roman,Times" size="2">Orario Ambulatorio</font></strong></font></td>
			<td colspan="4"><textarea rows="3" name="ORARIO" cols="54">$ORARIO</textarea></td>
		</tr>
	</table></div>