<tr>
        <input type="hidden" name="id_item" value="$ID">
        <td align="center" width="200" bgcolor="#FFFFFF"><strong><font size="2">$NOMINATIVO</font></strong></td>
        <td align="center" width="200" bgcolor="#FFFFFF"><strong><font size="2">$TELEFONO</font></strong></td>
        <td align="center" width="100" bgcolor="#FFFFFF"><strong><font size="2">$DATA $ORA</font></strong></td>
        <td align="center" width="100" bgcolor="#FFFFFF"><strong><font size="2">$RISPOSTA</font></strong></td>
        <td align="center" width="90" bgcolor="#FFFFFF"><strong><font size="2">$DURATA</font></strong></td>
        <td align="center" width="110" bgcolor="#FFFFFF"><strong><font size="2">$USER</font></strong></td>
  
    </tr>
    <tr>
        <td align="center" width="200" bgcolor="#000000"><strong><font size="3" color="#FFFFFF">NOTE</font></strong></td>
        <td colspan="4" bgcolor="#FFFFFF"><font size="3">$INFO</font></td>
    </tr>
     <tr>
        <td colspan="5" bgcolor="#000000"></td>
    </tr>