<br>
<p align="center"><b><font color="#0066CC" size="5">Se intendi chiudere 
l'allarme in corso</font></b></p>
<p align="center"><i><font color="#0066CC" size="4">Premere pulsante</font></i></p>
<p align="center">
<br>

</p>

<form action="modulo_allarme_chiuso_db.php?AB_CODI=$AB_CODI&ID_ALLARME=$ID_ALLARME" method="post">
	<p align="center">&nbsp;</td>
<font size="2"><input type="submit" value="Chiudi_Allarme" name="Chiudi_Allarme" style="font-size: 10px; background-color: #ff0000" /></p>
</form></font></strong>