<p align="center"><br>
<font size="5"><strong>Modulo Tecnico Aperto</strong></font></p>
<p align="center"><strong>$ID_ALLARME</strong><br>
</p>

<p align="center">
</p>
<div align="center"><center>

<table border="0">
    <tr>
        <td align="center">
		&nbsp;</td>
        <td align="center" bgcolor="#000000">
		<font
        size="4" color="#FFFFFF"><strong>Codice:</strong></font></td>
        <td align="center" bgcolor="#000000"><strong>
		<font size="4" color="#FFFFFF">Operatore</font></strong><font color="#FFFFFF"><strong><font size="4">:</font></strong></font></td>
        <td align="center">
		&nbsp;</td>
    </tr>
    <tr>
    <td align="center">
		&nbsp;</td>
        <td align="center">
		<input type="text" value="$AB_CODI" name="AB_CODI" size="20"></td>
        <td align="center">
		<input type="text" value="$USER" name="USER" size="20"></td>
		<td align="center">
		&nbsp;</td>
    </tr>
    <tr>
    <td align="center">
		&nbsp;</td>
		<td align="center">
		&nbsp;</td>
    </tr>
    <tr>
    <td align="center" bgcolor="#000000">
		<strong><font size="4" color="#FFFFFF">Evento</font></strong><font color="#FFFFFF"><strong><font size="4">:</font></strong></font></td>
        <td align="center" bgcolor="#000000">
		<font
        size="4" color="#FFFFFF"><strong>Data arrivo:</strong></font></td>
        <td align="center" bgcolor="#000000"><font size="4" color="#FFFFFF"><strong>Ora arrivo:</strong></font></td>
        <td align="center" bgcolor="#000000">
		<strong><font size="4" color="#FFFFFF">Esito</font></strong><font color="#FFFFFF"><strong><font size="4">:</font></strong></font></td>
    </tr>
    <tr>
    <td align="center">
		<input type="text" value="$EVENTO" name="EVENTO" size="2"></td>
        <td align="center">
		<input type="text" value="$DATA" name="DATA" size="20"></td>
        <td align="center">
		<input type="text" value="$ORA" name="ORA" size="20"></td>
		<td align="center">
		<input type="text" value="$ESITO" name="ESITO" size="2"></td>
    </tr>
</table>
</center></div>&nbsp;<p align="center"><u><font size="5">Contatti Effettuati</font></u><BR>
</p>
<p align="center">
</p>
<div align="center"><center>

<table border="0">
    <tr>
        <td align="center" bgcolor="#000000">
		<font
        size="3" color="#FFFFFF"><strong>Nominativo: </strong></font></td>
        <td align="center" bgcolor="#000000">
		<font
        size="3" color="#FFFFFF"><strong>Telefono:</strong></font></td>
        <td align="center" bgcolor="#000000">
		<font
        size="3" color="#FFFFFF"><strong>Data e Ora:</strong></font></td>
        <td align="center" bgcolor="#000000">
		<strong><font size="3" color="#FFFFFF">Risposta:</font></strong></td>
        <td align="center" bgcolor="#000000">
		<strong><font size="3" color="#FFFFFF">Durata:</font></strong></td>
        <td align="center" bgcolor="#000000">
		<font
        size="3" color="#FFFFFF"><strong>Operatore:</strong></font></td>
    </tr>