<BODY BGCOLOR="B0D8FF">

<table>
<tr>
 <td valign="bottom" bgcolor=$Mycolor width="50" ><a href="gestione_coda_prove.php?AB_CODI=$AB_CODI&ID_ALLARME=$ID&FRAME=PROVE_DAY" target="anagrafica"onclick="top.frames['anagrafica'].location.href = 'gestione_coda_prove.php?AB_CODI=$AB_CODI&ID_ALLARME=$ID&FRAME=PROVE_DAY'; setTimeout('delayer()', 500);"><font size="2" color="red">$AB_CODI</font></a></td>
 <td valign="bottom" bgcolor=$Mycolor width="150" ><font size="2">$FASCIA</font></td>
<td valign="bottom" bgcolor=$Mycolor width="30" ><font size="1">$RICHIAMARE</font></td>
 <td valign="bottom" bgcolor=$Mycolor width="100" ><font size="1">$USER</font></td>
</tr>
</table>