<div align="center">


<table>
<TR>
 <td align="center" bgcolor="#000000"><font size="1" color="#FFFFFF">GIORNO</font></td>
 <td align="center" bgcolor="#000000"><font size="1" color="#FFFFFF">FOGLIO</font></td>
 <td align="center" bgcolor="#000000"><font size="1" color="#FFFFFF">FASCIA</font></td>
 <td align="center" bgcolor="#000000"><font size="1" color="#FFFFFF">RECALL</font></td>
</TR>
<TR>
 <td align="center"><input type="text" size="10" name="ind" value="$GIORNO"></td>
 <td align="center"><input type="text" size="1" name="ind" value="$FOGLIO"></td>
 <td align="center"><input type="text" size="10" name="ind" value="$FASCIA"></td>
 <td align="center"><input type="text" size="1" name="ind" value="$RICHIAMARE"></td>
</TR>
</table>

  </div>

