<tr />
  <td bgcolor="#CCFFCC" /><a href="scheda.php?AB_CODI=$AB_CODI&amp;SEARCH_CODE=cerca" target="anagrafica"><font size="4">$AB_CODI</font></a></td /><font size="2"> 
    <td bgcolor="#CCFFCC" />$NOMINATIVO</td /> 
    <td bgcolor="#CCFFCC" />$MATRICOLA</td /> 
    <td bgcolor="#CCFFCC" />$INDIRIZZO</td /> 
    <td bgcolor="#CCFFCC" />$COMUNE</td /> 
    <td bgcolor="#CCFFCC" />$TELEFONO</td /> 
    <td bgcolor="#CCFFCC" />$ENTE</td /> 
    <td bgcolor="#CCFFCC" />$DATI_TECNICI</font></td /> </tr />