</table>


  <centre>

  <table>
  <tr>
    <td><input type="text" size="2" name="ind" value="$NUMERO"></td>
    <td><input type="text" size="25" name="ind" value="$TIPO"></td>
    <td><input type="text" size="13" name="ind" value="$TEL_1"></td>
    <td><a href="componi.php?ID=$ID_ALLARME&PHONENUMBER=$TEL_1&AB_CODI=$AB_CODI&NOMINATIVO=$TIPO&TSCUSER=$username"><img border="0" src="images/cell.jpg" width="32" height="33"></a></td>
    <td><input type="text" size="13" name="ind" value="$TEL_2"></td>
    <td><a href="componi.php?ID=$ID_ALLARME&PHONENUMBER=$TEL_2&AB_CODI=$AB_CODI&NOMINATIVO=$TIPO&TSCUSER=$username"><img border="0" src="images/cell.jpg" width="32" height="33"></a></td>
  </tr>

  </table>