
  
&nbsp;<p align="center">&nbsp;</p>
<div align="center">
  <center>
  <table border="0">
    <tr>
      <td colspan="5">
		<p align="center"><font color="#FF0000"><strong>!!!!! Ricordarsi di specificare il
motivo della disinstallazione !!!!!</strong></font></td>
    </tr> 
     <tr>
      <td colspan="5">&nbsp;</td>
    </tr> 
     <tr>
      <td colspan="5">&nbsp;</td>
    </tr> 
    <tr>
      <td><font face="Times New Roman,Times" color="#FF0000"><strong>Motivo
        della&nbsp; Disinstallazione</strong></font></td>
      <td width="30"></td><td><select name="MOTIVO_DISINST" size="1">
        <option selected value>.............................</option>
        <option value="Ricovero">Ricovero</option>
        <option value="Cambio Domicilio">Cambio Domicilio</option>
        <option value="Rinuncia">Rinuncia</option>
        <option value="Decesso">Decesso</option>
        <option value="Cambio Gestione">Cambio Gestione</option>
       </select></td>
      <td width="30"></td>
      <td><input type="submit" name="SAVE" value="DISINSTALLA" style="background-color: #FF3300"></td>
    </tr>
  </table>
  </center>
</div>
</form>

