<div align="center">
	<table border="0">
		<tr>
			<td bgcolor="#4682B4"><font color="#FFFFFF"><strong>
			<font face="Times New Roman,Times" size="2">Numero:</font></strong></td>
			<td><font face="Times New Roman,Times">
			<input type="text" size="2" name="NUMERO" value="$NUMERO"></font></td>
			<td bgcolor="#4682B4"><strong>
			<font face="Times New Roman,Times" size="2" color="#FFFFFF">Tipo</font></strong></td>
			<td><font face="Times New Roman,Times">
			<input type="text" size="15" name="TIPO" value="$TIPO"></font></td>
			<td></td>
		</tr>
		<tr>
			<td bgcolor="#4682B4"><font color="#FFFFFF"><strong>
			<font face="Times New Roman,Times" size="2">Nominativo</font></strong></font></td>
			<td><font face="Times New Roman,Times">
			<input
            type="text" size="30" name="NOMINATIVO" value="$NOMINATIVO"></font></td>
			<td bgcolor="#4682B4"><strong>
			<font face="Times New Roman,Times" size="2" color="#FFFFFF">Tel. 1</font></strong></td>
			<td><font face="Times New Roman,Times">
			<input
            type="text" size="15" name="TEL_1" value="$TEL_1"></font></td>
		</tr>
		<tr>
			<td bgcolor="#4682B4">&nbsp;</td>
			<td>&nbsp;</td>
			<td bgcolor="#4682B4"><strong>
			<font face="Times New Roman,Times" size="2" color="#FFFFFF">Tel. 2</font></strong></td>
			<td><font face="Times New Roman,Times">
			<input
            type="text" size="15" name="TEL_2" value="$TEL_2"></font></td>
		</tr>
		<tr>
			<td bgcolor="#4682B4"><strong>
			<font face="Times New Roman,Times" size="2" color="#FFFFFF">
			Referente</font></strong></td>
			<td><font face="Times New Roman,Times">
			<input type="text" size="30" name="REFERENTE1" value="$REFERENTE"></font></td>
			<td bgcolor="#4682B4"><font color="#FFFFFF"><strong>
			<font face="Times New Roman,Times" size="2">Cellulare</font></strong></td>
			<td><font face="Times New Roman,Times">
			<input
            type="text" size="15" name="CELLULARE" value="$CELLULARE"></font></td>
		</tr>
		<tr>
			<td bgcolor="#4682B4"><strong>
			<font face="Times New Roman,Times" size="2" color="#FFFFFF">Note</font></strong></td>
			<td colspan="3"><textarea rows="3" name="NOTE" cols="54">$NOTE</textarea></td>
		</tr>
		<tr>
			<td bgcolor="#4682B4"><font color="#FFFFFF"><strong>
			<font face="Times New Roman,Times" size="2">Orario Ambulatorio</font></strong></font></td>
			<td colspan="3"><textarea rows="3" name="ORARIO" cols="54">$ORARIO</textarea></td>
		</tr>
	</table></div>

