<html>

<head>
<BODY BGCOLOR="FFFFCC">
<title>Scheda Utente</title>
</head>
  <div align="center">
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" width="450" id="AutoNumber2">
  <tr>
    <td>
      <form action="scheda.php?AB_CODI=$AB_CODI" method="POST">
      <input type="submit" value="VISUALIZZA" name="VISUALIZZA" style="background-color: #FF0000; font-size:10 px"></p>
      </form>    
    </td>
    <td>
      <form action="scheda_mod.php?AB_CODI=$AB_CODI" method="POST">
      <input type="submit" value="MODIFICA" name="MODIFICA" style="background-color: #FF0000; font-size:10 px"></p>
      </form>    
    </td>
    <td>
      <form action="anagrafica_ins.php" method="POST">
      <input type="submit" value="INSERIMENTO" name="INSERIMENTO" style="background-color: #FF0000; font-size:10 px"></p>
      </form>
    </td>
    <td>
      <form action="disinstallazione.php?AB_CODI=$AB_CODI" method="POST">
      <input type="submit" value="DISINSTALLAZIONE" name="DISINSTALLAZIONE" style="background-color: #FF0000; font-size:10 px"></p>
      </form>     
    </td>
    <td>
      <form action="reinstallazione.html?AB_CODI=$AB_CODI" method="POST">
      <input type="submit" value="REINSTALLAZIONE" name="REINSTALLAZIONE" style="background-color: #FF0000; font-size:10 px"></p>
      </form>     
    </td>
  </tr>
</table>
  </div>

  <div align="center">
    <center>
<BR>
<strong><font face="Arial" color="#4682B4">AREA INSERIMENTO</font></strong><br>
<BR>


