

<BODY BGCOLOR="FFFFCC">



  <div align="center">
    <table id="AutoNumber2" cellspacing="0" cellpadding="0" width="450" border="0" style="border-collapse: collapse">
      <tbody>
        <tr>
          <td>
            <form action="scheda.php?AB_CODI=$AB_CODI" method="post"><input type="submit" value="VISUALIZZA" name="VISUALIZZA" style="font-weight: 700; font-size: 10px; background-color: #ff0000" /><strong> </strong></form>
          </td>
          <td>
            <form action="scheda_mod.php?AB_CODI=$AB_CODI" method="post"><input type="submit" value="MODIFICA" name="MODIFICA" style="font-weight: 700; font-size: 10px; background-color: #ff0000" /><strong> </strong></form>
          </td>
          <td>
            <form action="disinstallazione.php?AB_CODI=$AB_CODI" method="post"><input type="submit" value="DISINSTALLAZIONE" name="DISINSTALLAZIONE" style="font-weight: 700; font-size: 10px; background-color: #ff0000" /><strong> </strong></form>
          </td>
          <td>
            <form action="reinstallazione.html?AB_CODI=$AB_CODI" method="post"><input type="submit" value="REINSTALLAZIONE" name="REINSTALLAZIONE" style="font-weight: 700; font-size: 10px; background-color: #ff0000" /><strong> </strong></form>
          </td>
        </tr>
      </tbody>
    </table>
  </div><br />
  <div align="center"><center>
      <table id="AutoNumber2" cellspacing="0" cellpadding="0" width="450" border="0" style="border-collapse: collapse">
        <tbody>
          <tr>
            <td width="20%">
              <form action="scheda.php?AB_CODI=$AB_CODI" method="post"><input type="submit" value="SCHEDA" name="SCHEDA" style="font-weight: 700; font-size: 10px; background-color: #33ccff" /><strong> </strong></form>
            </td>
            <td width="20%">
              <form action="prove.php?AB_CODI=$AB_CODI" method="post"><input type="submit" value="PROVE" name="PROVE" style="font-weight: 700; font-size: 10px; background-color: #33ccff" /><strong> </strong></form>
            </td>
            <td width="20%">
              <form action="stipulante.php?AB_CODI=$AB_CODI" method="post"><input type="submit" value="STIPULANTE" name="STIPULANTE" style="font-weight: 700; font-size: 10px; background-color: #33ccff" /><strong> </strong></form>
            </td>
            <td width="20%">
              <form action="convivente.php?AB_CODI=$AB_CODI" method="post"><input type="submit" value="CONVIVENTE" name="CONVIVENTE" style="font-weight: 700; font-size: 10px; background-color: #33ccff" /><strong> </strong></form>
            </td>
            <td width="20%">
              <form action="socc_amici.php?AB_CODI=$AB_CODI" method="post"><input type="submit" value="SOCC_AMICI" name="SOCC_AMICI" style="font-weight: 700; font-size: 10px; background-color: #33ccff" /><strong> </strong></form>
            </td>
            <td width="20%">
              <form action="socc_pubb.php?AB_CODI=$AB_CODI" method="post"><input type="submit" value="SOCC_PUBB" name="SOCC_PUBB" style="font-weight: 700; font-size: 10px; background-color: #33ccff" /><strong> </strong></form>
            </td>
            <td width="20%">
              <form action="mdb.php?AB_CODI=$AB_CODI" method="post"><input type="submit" value="MDB" name="PROVE" style="font-weight: 700; font-size: 10px; background-color: #33ccff" /><strong> </strong></form>
            </td>
            <td width="20%">
              <form action="gmed.php?AB_CODI=$AB_CODI" method="post"><input type="submit" value="GMED" name="PROVE" style="font-weight: 700; font-size: 10px; background-color: #33ccff" /><strong> </strong></form>
            </td>
            <td width="20%">
              <form action="analisi.php?AB_CODI=$AB_CODI" method="post"><input type="submit" value="ANALISI" name="PROVE" style="font-weight: 700; font-size: 10px; background-color: #33ccff" /><strong> </strong></form>
            </td>
          </tr>
        </tbody>
      </table><br /><br /><strong><font face="Arial" color="#4682b4" size="5">AREA VISUALIZZA</font></strong><br /><br /></center></div>