<html>

<head>

<meta http-equiv="REFRESH" content="3" url="allarmi.html" >

<title>Allarmi</title>
</head>

<table border="0" cellspacing="0" cellpadding="0" width="160" style="border-collapse: collapse">

      <tr>
        <td valign="bottom" bgcolor="#000000" align="center" ><b>
        <font color="#FFFFFF">Ev.</font></b></td>
        <td valign="bottom" bgcolor="#000000" align="center" ><b>
        <font color="#FFFFFF">Cod</font></b></td>
        <td valign="bottom" bgcolor="#000000" align="center" ><b>
        <font color="#FFFFFF">Ora</font></b></td>
        <td valign="bottom" bgcolor="#000000" align="center" ><b>
        <font color="#FFFFFF">Ope</font></b></td>
    </tr>

      <tr>
        <td valign="bottom" >$evento</td>
        <td valign="bottom" >$ab_codi</td>
        <td valign="bottom" >$ora</td>
        <td valign="bottom" >$operatore</td>
    </tr>
</table>

</font>


</body>
</html>