
  <table>
    <form action="socc_amici_ins_db.php?AB_CODI=$AB_CODI" method="post">
  <div align="center">
  </table>
	<div align="center">
  <table border="0">
    <tbody>
      <tr>
        <td colspan="8">
          <p align="center"><strong><u><font face="Arial" color="#4682b4" size="4">INSERIMENTO SOCC. AMICO</font></u></strong><br /></p>
        </td>
      </tr>
       <tr>
        <td colspan="8"> </td>
      </tr>
      <tr>
        <td align="center" bgcolor="#4682b4"><font color="#ffffff"><strong><font face="Times New Roman,Times" size="2">N.</font></strong><font face="Times New Roman,Times" size="2"><strong>int</strong></font>.</font></td>
        <td align="center" bgcolor="#4682b4"><font face="Times New Roman,Times" color="#ffffff"><strong>Soccorritori amici:</strong></font></td>
        <td align="center" bgcolor="#4682b4">&nbsp;</td>
        <td align="center" bgcolor="#4682b4">&nbsp;</td>
        <td align="center" bgcolor="#4682b4"><font face="Times New Roman,Times" color="#ffffff"><strong>Tempo</strong></font></td>
        <td align="center" bgcolor="#4682b4"><font face="Times New Roman,Times" color="#ffffff"><strong>Ch</strong></font></td>
        <td align="center" bgcolor="#4682b4"><font face="Times New Roman,Times" color="#ffffff"><strong>Coinq.</strong></font></td>
        <td align="center" bgcolor="#4682b4"><font face="Times New Roman,Times" color="#ffffff"><strong>Parente</strong></font></td>
      </tr>
      <tr>
        <td align="center">&nbsp;</td>
        <td align="center" width="100">&nbsp;</td>
        <td align="center" width="70"><strong>casa:</strong></td>
        <td align="center" width="100"><font face="Times New Roman,Times"><input size="10" name="TEL_CASA" /></font></td>
        <td align="center" width="50"><font face="Times New Roman,Times"><input size="1" name="TEMPO_CASA" /></font></td>
        <td valign="top" align="center" width="35"><font face="Times New Roman,Times"><input size="1" name="CHIAVI" /></font></td>
        <td valign="top" align="center" width="35"><font face="Times New Roman,Times"><input size="1" name="COINQUILINO" /></font></td>
        <td valign="top" align="center" width="60"><font face="Times New Roman,Times"><input size="10" name="PARENTE" /></font></td>
      </tr>
      <tr>
        <td align="center"><font face="Times New Roman,Times"><input size="1" name="NUMERO" /></font></td>
        <td align="center" width="100"><font face="Times New Roman,Times"><input size="30" name="NOMINATIVO" /></font></td>
        <td align="center" width="70"><strong>ufficio:</strong></td>
        <td align="center" width="100"><font face="Times New Roman,Times"><input size="10" name="TEL_UFF" /></font></td>
        <td align="center" width="50"><font face="Times New Roman,Times"><input size="1" name="TEMPO_UFF" /></font></td>
        <td valign="top" align="center" width="35">&nbsp;</td>
        <td valign="top" align="center" width="35">&nbsp;</td>
        <td valign="top" align="center" width="60">&nbsp;</td>
      </tr>
      <tr>
        <td align="center">&nbsp;</td>
        <td align="center" width="100">&nbsp;</td>
        <td align="center" width="70"><strong>Cellulare:</strong></td>
        <td align="center" width="100"><font face="Times New Roman,Times"><input size="10" name="TEL_CELL" /></font></td>
        <td align="center" width="50">&nbsp;</td>
        <td valign="top" align="center" width="35">&nbsp;</td>
        <td valign="top" align="center" width="35">&nbsp;</td>
        <td valign="top" align="center" width="60"><input type="submit" value="SALVA" name="SALVA" style="background-color: #ff0000" /></td>
      </tr>
      <tr>
        <td align="center">&nbsp;</td>
        <td align="center" width="100">&nbsp;</td>
        <td align="center" width="70">&nbsp;</td>
        <td align="center" width="100">&nbsp;</td>
        <td align="center" width="50">&nbsp;</td>
        <td valign="top" align="center" width="35">&nbsp;</td>
        <td valign="top" align="center" width="35">&nbsp;</td>
        <td valign="top" align="center" width="60">&nbsp;</td>
      </tr>
      <tr>
        <td align="center">&nbsp;</td>
        <td align="center" width="100">&nbsp;</td>
        <td align="center" width="70">&nbsp;</td>
        <td align="center" width="100">&nbsp;</td>
        <td align="center" width="50">&nbsp;</td>
        <td valign="top" align="center" width="35">&nbsp;</td>
        <td valign="top" align="center" width="35">&nbsp;</td>
        <td valign="top" align="center" width="60">&nbsp;</td>
      </tr>
      </form>
    </tbody>
  </table></div>
	</div>
	<br />
        <div align="center">
          
       
      <tbody />
      <p align="center"><strong><u><font face="Arial" color="#4682b4" size="4">MODIFICA SOCC. AMICI</font></u></strong></p>

  </table> </div>